[2015-09-16 23:16] acdlite opened #1 "Using CSS Animations to detect element resize, instead of global window.resize event?"
Cool project!

A downside to re-computing dimensions on `window.resize` events is that it doesn't account for the other ways in which an element's dimensions might have changed. Have you considered using something like [javascript-detect-element-resize](https://github.com/sdecima/javascript-detect-element-resize), which detects resize using `animationStart` events? https://github.com/sdecima/javas

[2015-09-20 20:10] souporserious commented on #1
This is cool! Going to check it out. I'll leave this issue open until I decide whether or not to bring it in. Thanks for the find :)

[2015-09-22 05:58] souporserious opened #2 "Allow to be passed as just a component and not a child function"
We don't need a child function all the time if we use the onChange prop to get the dimensions. Allow just a component to be passed as well as a child function since we can get the values still.

[2015-09-23 09:17] souporserious commented on #2
Child functions no longer supported with this release https://github.com/souporserious/react-measure/commit/14d54bedec8574f5f2e795fd2722faaed656b300

[2015-09-23 09:17] #2 closed

[2015-09-23 09:18] souporserious commented on #1
Closing this, I worked on integrating it last night, but ultimately feel that this should be up to the user to integrate as needed. Appreciate the feedback though!

[2015-09-23 09:18] #1 closed

[2015-09-24 22:33] souporserious opened #3 "Check that component is mounted before appending portal"
Right now it's possible to get an error because a portal tries to append to a component that is not available.

[2015-09-24 22:58] souporserious opened #4 "Add prop to allow cloning or not"
If the user doesn't need to calculate dimensions for animation purposes then they probably don't need the item cloned.

[2015-09-26 21:10] souporserious commented on #4
Fixed here https://github.com/souporserious/react-measure/commit/7500d39fa05779af936ebb10d57f4b7cde23a22a

[2015-09-26 21:10] #4 closed

[2015-09-26 21:11] souporserious commented on #3
Added here https://github.com/souporserious/react-measure/commit/7500d39fa05779af936ebb10d57f4b7cde23a22a#diff-8ba64acb625446507dff78fe0bfcafdfR36

[2015-09-26 21:11] #3 closed

[2015-10-19 04:55] chen-ye opened #5 "Detect if component is clone?"
Is there any way for a component to detect if it is a clone?  I'm animating a form using react-motion-ui-pack, which sets input focus when it's created.  But when react-measure clones the form, it attempts to focus on the cloned input.  This is undesirable.

[2015-10-20 05:45] souporserious commented on #5
No there is not. Cloning is a pain. I'm working on getting rid of cloning all together. I'll keep this open until I get something out. I'll try and push out a patch to fix that though so you don't have to wait. Are you using a ref to get the form and set focus?

[2015-10-25 06:20] souporserious commented on #5
Cloning has been removed in the latest release https://github.com/souporserious/react-measure/commit/f1fd47b729c17469e46af8ec019f34a6bc95b7f0 I will update the UI pack as soon as I get a chance, which should fix your problem :)

[2015-10-25 06:20] #5 closed

[2015-10-25 06:21] chen-ye commented on #5
awesome! Thanks!

[2015-10-26 15:27] souporserious opened #6 "Fix build for bower"
Right now shallowCompare is not exposed correctly for bower https://github.com/souporserious/react-measure/blob/master/webpack.prod.config.js#L29 need to replace with this https://www.npmjs.com/package/react-addons-shallow-compare

[2015-10-27 07:18] souporserious commented on #6
Kind of fixed https://github.com/souporserious/react-measure/commit/44c1f1fb6c57bc7e7072ab290cf292298f9c2614 need to figure out how to not bundle it with dist but still allow its use.

[2015-10-27 07:18] #6 closed

[2015-10-31 07:36] frederickfogerty commented on #6
Not sure what's wrong with your solution, this is the webpack way to do it. If you leave [this](https://github.com/souporserious/react-measure/commit/44c1f1fb6c57bc7e7072ab290cf292298f9c2614#diff-1a19ad1ad8c7b53ba23a02dcba546ee8L29) in for the build, it won't bundle it in.

https://webpack.github.io/docs/library-and-externals.html

[2015-11-12 20:55] juhaelee opened #7 "Image detection"
Is it possible for react-measure to give back changing heights for a div that only contains a image? I get back a height that is always less than the actual height whenever I resize the browser. I'm guessing this is because that it measures before the image is loaded?

[2015-11-17 03:06] souporserious commented on #7
I have not tested with images yet, I will see what I can do. Thank you for the feedback.

[2016-02-15 17:05] transcranial opened #10 "Deprecation warnings for svg element offsets in chrome"
Getting these notices in Chrome 48. Something to keep in mind.

[code]
[code]

[2016-03-09 21:52] souporserious commented on #10
Thanks for the heads up! Finally got around to fixing this in the [latest release](https://github.com/souporserious/react-measure/releases/tag/0.3.5).

[2016-03-09 21:52] #10 closed

[2016-03-10 23:43] souporserious commented on #7
Closing this, I'd rather leave image implementation to the user. You could use [Image Events](https://facebook.github.io/react/docs/events.html#image-events) to tell when the image is loaded then use `shouldMeasure` to measure the content when you know the image has loaded.

[2016-03-10 23:43] #7 closed

[2016-04-20 00:02] jedwards1211 opened #11 "more convenient API"
Inspired by the API of react-motion, I came up with this component today, before finding this repo.  What do you think?  It allows you to measure any DOM property or computedStyle attribute, and passes them to a child callback function that you use to render instead of having to `setState`.  Obviously it doesn't use mutation observers but that could be integrated into this approach.  What do you t

[2016-04-20 03:18] souporserious commented on #11
I actually had this in the very first release https://github.com/souporserious/react-measure/tree/0.0.8 but I needed the ability to `setState` hence why it's that way now. I might be open to rework the component to accept a child function that passes in the dimensions if you need it for more simple cases. I've also been messing around with Higher Order Components and context.

[2016-04-20 03:40] jedwards1211 commented on #11
We could certainly support both, right?  For instance if `this.props.children` is a function, call it with the state, and otherwise keep the current approach (of course `onMeasure` could be supported in either case).

[2016-04-20 03:42] jedwards1211 commented on #11
Plus I think the ability to specify any random DOM property or computedStyle attribute one wants to read is nice and would fit into with the premise of this library well

[2016-06-27 18:03] souporserious commented on #11
Sorry for the long wait. It's finally implemented in [0.4.0](https://github.com/souporserious/react-measure/releases/tag/0.4.0) 🎉

See usage [here](https://github.com/souporserious/react-measure#example-usage-w-child-function)

[2016-06-27 18:03] #11 closed

[2016-06-27 19:24] jedwards1211 commented on #11
Oh, cool!  Thanks!

[2016-07-11 21:38] yunboliu27 opened #12 "The license contents seem to ISC license not MIT license mentioned in package.json"
The license contents seem to ISC license not MIT license mentioned in package.json

[2016-07-21 03:56] souporserious commented on #12
Sorry about that. Fixed!

[2016-07-21 03:56] #12 closed

[2016-07-29 20:41] jedwards1211 opened #13 "accurateHeight doesn't work on flex containers"
I don't have a minimal repo scenario for this yet.
The element resize detection seems fairly hacky and I don't trust it completely.  I'd think we should respond to window resize events (throttled to 1 sec or so) as a failsafe mechanism.

Here's a snippet of my code (`onPlotResize` sets the value of `plotWidth` and `plotHeight`):
[code]

Here's the element in the browser:
![screen shot 2016-07-29 a

[2016-07-29 20:47] souporserious commented on #13
If you can get it sandboxed in a [codepen](http://codepen.io/) that would be awesome. Or even your own PR that has the code works as well. I'm wondering if it has to do with it being a canvas element.

@wnr are there any known issues with canvas and element-resize-detector?

[2016-07-29 21:04] jedwards1211 commented on #13
Argh nevermind, I think the problem was just that I'm not restricting the width of the div if the canvas inside is wider than the screen, and so the `div` itself isn't shrinking.

[2016-07-29 21:07] jedwards1211 commented on #13
well, erm...still not sure.  Some interaction of flexbox, overflow: hidden and canvas is causing this...

[2016-07-29 21:11] jedwards1211 commented on #13
Uhhh...now it's measuring my div height as 170 even though it's got `height: 170px; overflow: hidden`.

[2016-07-29 21:25] jedwards1211 commented on #13
Okay here's what threw me for a loop: http://codepen.io/jedwards1211/pen/OXwmAJ

The top-level `display: flex` div has `width: 200px` yet the inner div `flex: 1 1 200px` expands to the full canvas width of `300`.

[2016-07-29 21:26] jedwards1211 commented on #13
Happens even if I replace the `canvas` with `div`.  Sigh... you would have at least hoped that flexbox is completely predictable, but I guess it isn't.

[2016-07-30 02:06] souporserious commented on #13
I've seen this issue before on another library that uses React Measure. For some reason containers with `display: flex` are hard to get an accurate height. I need to look into how to get proper dimensions. It might be the [clone](https://github.com/souporserious/react-measure/blob/master/src/get-clone-dimensions.js) that messes something up when it measures it.

[2016-07-30 02:13] souporserious commented on #13
Ah yeah I think it has to do with the cloning when using `accurateHeight`. I'll look into this.

[2016-07-30 16:23] jedwards1211 commented on #13
Okay, I was actually accidentally triggering `accurateHeight` in my branch where I was responding to window `resize` events, haha.  But in any case we should rename the issue

[2016-07-31 21:20] asvetliakov commented on #13
@souporserious
I've similar problem with nested accordions, height change in nested element is not going to be picked up by parent element, see nested accordion example in: https://hallister.github.io/semantic-react/#!/Accordion
I think it used to work before upgrading to 0.4.\* versions.

[2016-08-04 03:43] souporserious commented on #13
@asvetliakov I actually released an auto height component a couple of days ago that handles nested height without any noticeable issues https://github.com/souporserious/react-fluid-container maybe you can get some ideas for your lib from there. Still looking into a better way to get accurate height measurements with flex items though.

[2016-08-06 10:54] souporserious commented on #13
@jedwards1211 @asvetliakov I moved the dimension calculation into its own repo [here](https://github.com/souporserious/get-node-dimensions) I updated react-measure with the latest version and tested flexbox and tests currently pass. Please let me know if you have anymore issues. Feel free to file any dimension related issues in that new repo.

[2016-08-06 10:54] #13 closed

[2016-08-23 04:07] MatthewKosloski commented on #7
Hey, I tried using the `onLoad` Image Event  to detect when the image has loaded, but I didn't get satisfactory results.  Essentially what I've done is when the image has loaded (`handleImageLoaded()` has been called), change the `hasLoaded` state property to `true`.

Here is a [video demo](https://cl.ly/250M2g3X1k21).

Here is the code:

[code]

Here is the parent code.  It's not really important

[2016-08-23 05:11] MatthewKosloski commented on #7
Hey, sorry to bother you again, but I'm really confused.  It only works when the images are cached? (again, I'm using the same code as above):

[Here is a demo](https://cl.ly/350b3f0O1l1G)

[2016-10-12 09:09] avdeev opened #16 "Do release with #15, plz"

[2016-10-12 21:48] souporserious commented on #16
Fixed https://github.com/souporserious/react-measure/commit/1e59aac0b1a859c673ceb6aee7085eb58ee059ed

[2016-10-12 21:48] #16 closed

[2016-10-20 18:48] chadwatson opened #17 "Measure.measure() calls setState after component has been unmounted"
Just received this error from React:

[code]

It looks like `this.setState` is being called after Measure unmounts shortly after being mounted.

[2016-10-24 17:19] #17 closed

[2016-10-26 13:04] danielberndt opened #19 "Exception when changing key of rendered child"
First off, thanks for this wonderful library! I'm quite glad I've found it since I've been doing way too much manual dimension measuring. I especially like the child-as-a-fn based approach!

Anyhow, here's an issue I came across: when rendering a child with a different key from the previous one, the new child won't get properly assigned as the new `this._node`.

So basically [this line](https://gi

[2016-10-26 22:43] souporserious commented on #19
Thank you for the kind words! Yeah measuring became a pain, so it inspired me to write this :) glad to hear it's helping you out!

Thank you for providing example code. It has been fixed here https://github.com/souporserious/react-measure/commit/ef917f926502814b58d45a01355a9969d8d161b4 and is out in the latest release 🎉

[2016-10-26 22:43] #19 closed

[2016-10-27 08:20] danielberndt commented on #19
Thanks for this super fast fix! I really appreciate it :)

I like the simplicity of your solution, but it makes the hidden assumption that a detached node will not be recycled and attached to other parts of the dom. Once react starts doing this, this will lead to presumably very weird behaviour. This is why using ref callbacks might be a safer approach since it uses an official react-contract for

[2016-10-27 20:48] souporserious commented on #19
Totally. I was going to implement a ref callback and realized why I hadn't before https://github.com/souporserious/react-measure/blob/master/src/Measure.jsx#L129 I'm not sure I can use a ref callback since I'm allowing child functions, maybe I can somehow? I'm not sure.

[2016-11-30 09:29] jampy opened #20 "NPM banner with wrong link"
FYI, the "npm package" banner in the README links to the wrong package (`react-aria`)

[2016-11-30 09:48] souporserious commented on #20
Oops! That's what I get for copying and pasting from my other repos :trollface: thanks for the heads up! Fixed https://github.com/souporserious/react-measure/commit/fc937b85000627ac901f32249fcabd889064e126

[2016-11-30 09:48] #20 closed

[2016-11-30 13:00] andrewhathaway opened #21 ""resizeDetector is not defined" error on componentWillUnmount"
I'm getting a `Uncaught ReferenceError: resizeDetector is not defined` exception when unmounting a component from the view. I'm using the child function usage. Having checked the source, there doesn't seem to be any reference of the `resizeDetector` apart from within that method.

[2016-11-30 13:03] pr0digy opened #22 "Uncaught ReferenceError: resizeDetector is not defined"
Is the error I get after upgrading from 1.3.1 to 1.4.0.

`key: 'componentWillUnmount',
  value: function componentWillUnmount() {
      resizeDetector().removeAllListeners(this._node);
      resizeDetector().uninstall(this._node);
      this._node = null;
 }`

[2016-12-01 00:42] souporserious commented on #22
Fixed here https://github.com/souporserious/react-measure/pull/23

[2016-12-01 00:42] #22 closed

[2016-12-01 00:42] souporserious commented on #21
Fixed here https://github.com/souporserious/react-measure/pull/23

[2016-12-01 00:42] #21 closed

[2016-12-01 04:03] joeruello opened #24 "1.4.0 breaks server rendering"
Hi! Amazing component!

Not sure if I should raise this in [resize-observer-polyfill](https://github.com/que-etc/resize-observer-polyfill) or here, but it seems they have a reference to `window` which breaks running react-measure while server rendering.

If you're willing, happy to open a PR here to check if window exists before registering the observer, or ask in the polyfill repo. Worst case I c

[2016-12-01 04:16] joeruello opened #25 "Locking version to 1.3.1 in package.json installs 1.4.1"
Following onto my previous issue, looks like 1.4.1 is still tagged as 1.3.1 on npm.

[2016-12-01 04:28] joeruello commented on #25
Ignore this, my fault.

[2016-12-01 04:28] #25 closed

[2016-12-01 14:34] souporserious commented on #24
Sorry about that! I just fixed the issue over [here](https://github.com/souporserious/react-view-pager/issues/39). I'll get a fix out ASAP.

[2016-12-01 14:45] souporserious commented on #24
Alright, should be fixed with this https://github.com/souporserious/react-measure/commit/8e568265d95a6014a9f45506b6ae4d3b4833c3b1 and is out in the latest release. Please feel free to reopen if this did not fix your problem. Sorry for any inconveniences.

[2016-12-01 14:45] #24 closed

[2016-12-03 00:30] achobanov opened #26 "onMeasure not triggering on every render."
Neat plugin, but I don't understand when exactly does onMeasure fire. From what I gather it should trigger on every render, yet I am having a case when I click on item, it changes state, which invokes render, but onMeasure is not triggered. Then if I click on another item, it invokes the same change of state, via the same exact function, executed with same context and no properties, it changes sta

[2016-12-03 00:41] souporserious commented on #26
Hello 👋 `onMeasure` will only fire when the `measure` method is called. The component is hooked up to a [`ResizeObserver`](https://github.com/que-etc/resize-observer-polyfill) and will call `measure` when the dimensions of your component have changed. You can call that manually if you need to by using refs `this.measureComponent.measure()`. Does that make sense?

[2016-12-03 10:20] achobanov commented on #26
Alright, that sounds good. I will try to call it manually when I need it then. Would you wirte something like that in the Readme? I think it would help people, especially unexperienced, like myself, to knon when and how onMeasure is called. If this doesn't work, could I PM you or something for a more detailed explanation of my problem, beause I don't know who else can help me out with measure. Tha

[2016-12-03 17:24] souporserious commented on #26
Yes, absolutely :) your feedback helps. I will leave this open until I add more to the README. Have you heard of [Reactiflux](http://www.reactiflux.com/)? I'm usually hanging around there. I can try and help with any issues you have.

[2016-12-03 23:54] achobanov commented on #26
Hi back. I must have misunderstood something, because I can't get it to measure manually with `this.measureComponent.measure()`. It says measureComponent is undefined. What did I miss?

[2016-12-04 00:06] souporserious commented on #26
Is `this.measureComponent` coming from refs? Maybe some more context would help. Can you paste what you have?

I just realized I do this in the example folder, you can see it here: https://github.com/souporserious/react-measure/blob/master/example/index.jsx#L57-L63

[2016-12-04 00:40] achobanov commented on #26
I looked at the example. I understand the arrow function to `onClick` listener , but I dont really get what's going on inside the `ref`. Also I would like to fire up measure inside `componentDidMount` and `componentDidUpdate`. Also another read through your `Readme` got my attention to `useClone` prop. Can that be used to measure the proper width of `element` wider then the `document`?

[2016-12-04 03:43] souporserious commented on #26
We're assigning the component that is returned in the ref callback function as a property. More on ref callbacks [here](https://facebook.github.io/react/docs/refs-and-the-dom.html#the-ref-callback-attribute). Pretty much we just want access to that component's methods, which in this case is `measure`.

Is this what you are looking to do?
[code]
Also, be careful not to use `setState` in `onMeasure`

[2016-12-04 10:13] achobanov commented on #26
Okey I managed to fire `measure()` but that didn't fix my problem. Apparently it is not related to measure, but could you take a look at `git`, because I really can't explain whatever is going on: https://github.com/teamRPA/React-Family. If you'd like we could go over discord, because this is not directly  related to measure and certainly it's not measure issue, so I don't know if it has any place

[2016-12-04 23:59] achobanov commented on #26
Hello again. I have finally found my mistake. The thing is that my `html` and `css` are structured in such a way that it if I click the first item my component's width didn't change, but if I clicked the second - then it shortens a little. I am not still sure how to work around this, but at least I know the problem now. What's up with `scrollWidth`?

[2016-12-05 18:44] souporserious commented on #26
It's a little hard for me to help without seeing the code. Is it possible you can fork this [Codepen](http://codepen.io/souporserious/pen/rLdwao/?editors=0010) and show your problem there? That way I'll be able to help as best I can 😃

[2016-12-06 09:35] achobanov commented on #26
Don't you see the code from the repo I shared? However I have solved my issue, so I think I'm going to close this. Thanks for your time and help :) Great plugin! Cheers!

[2016-12-06 09:35] #26 closed

[2016-12-07 00:44] mulles3008 opened #27 "Uncaught TypeError: ResizeObserver is not a constructor"
Hi,

I just run into a problem using react-measure in combination with Webpack 2.x. I get the error message `Measure.js:109: Uncaught TypeError: ResizeObserver is not a constructor(…)`. With older versions  of Webpack (tested with v1.12.2) there seems to be no issue at all.

A basic project setup for reproducing the error can be found [here](https://github.com/mulles3008/ReactMeasure-ResizeObserve

[2016-12-07 00:52] souporserious commented on #27
Hello,

Sorry, I'm unfamiliar with how Webpack 2 bundles modules :( I haven't had a chance to play with it yet. Please let me know if you find a fix. I will leave this open in case anyone can help.

[2016-12-07 01:30] asterikx commented on #27
[This](http://stackoverflow.com/questions/33704714/cant-require-default-export-value-in-babel-6-x?answertab=active#tab-top) entry on StackOverflow explains the problem.
`require('resize-observer-polyfill').default` solves my issue. Tested with Webpack v.1.12.2 and v.2.1.0-beta.27 (latest version). PR coming ;)

[2016-12-07 17:02] souporserious commented on #27
Thanks for the PR! The fix has been published to NPM :) https://github.com/souporserious/react-measure/commit/76a79f2ff4bdb93297247cef404742fb6989591f

[2016-12-07 17:02] #27 closed

[2016-12-07 23:02] gcrabtree commented on #27
@souporserious That was a quick response, but that fix breaks for people using Webpack 1.14...
Reverting the change appears to work. Looks like you need to test whether .default is available or not.

[2016-12-09 20:52] terencechow opened #29 "ResizeObserver Polyfill creates errors with Webpack & UglifyJS"
New dev on the team tried to npm install our package.json and got the following error:

    ERROR in bundle.js from UglifyJs
    SyntaxError: Unexpected token: punc ()) [bundle.js:33478,18]

We had `react-measure: "^1.3.1"` in `package.json` and the caret made it upgrade to `1.4.x` when that was released.

Looks like 1.4.x uses ResizeObserver polyfill which created the above error when webpack & u

[2016-12-13 02:49] souporserious commented on #29
Sorry about that 😞  Is there anything we can do to fix this? Or maybe it is an issue in the polyfill library?

Thinking more about it and wondering what's causing this. I'm using UglifyJS for the demo build here https://github.com/souporserious/react-measure/blob/master/webpack.config.js#L37-L49 and it seems fine. Maybe I'm missing something.

[2016-12-13 07:46] terencechow commented on #29
Might be because I'm using webpack 2 beta?

[2016-12-13 12:35] thebuilder commented on #29
Also getting a ResizeObserver error - Running Webpack 2:

[code]

[2016-12-13 19:37] souporserious commented on #29
Sorry, I'm not sure what is causing this 😞  I wish I could help. Please feel free to create a PR if you find a solution.

[2016-12-15 20:08] newtriks opened #30 "Whitelist & blacklist don't appear to function as expected"
Providing an array of properties to either whitelist or blacklist (as shown [here in your docs](https://github.com/souporserious/react-measure#whitelist-proptypesarray)) doesn't appear to work.

If you look at this [example](http://codepen.io/anon/pen/vyQbqy) based on yours, it would appear all the properties are still getting included both on initial measure and on further resizes?

Is this a bug

[2016-12-16 01:15] robwise commented on #29
I got the first guy's error (`SyntaxError: Unexpected token: punc ())`), then I changed by babel-loader to not exclude node-modules, and then I got the second guy's error (`SyntaxError: Unexpected token: name (ResizeObserver)`).

[2016-12-16 01:22] robwise commented on #29
I was able to get around this by not using `exclude` or `include` with my Webpack babel-loader. I believe what's going on is that this library is ES6 code and the Uglifier plugin is having trouble parsing it for whatever reason. Running the package through babel seems to fix the issue.

[2016-12-16 17:39] que-etc commented on #29
This and #27 issues were caused by the `module` field in the package file which pointed to a es6 version of the polyfill. I've removed it and now Webpack 2 takes the es5 umd bundle which always exports the ResizeObserver constructor instead of an object with the `default` property.

I've also added a fallback for a non-browser environment which fixes the server rendering problem described in #24.

[2016-12-16 18:39] souporserious commented on #30
`whitelist` and `blacklist` are what determines when `onMeasure` should fire. So if you have `whitelist={['height]}`, it will only fire `onMeasure` when the `height` changes, rather than every property. Does that make sense? I don't explain that very well in the README, sorry about that :/

[2016-12-16 21:43] souporserious commented on #29
Out in the latest [release](https://github.com/souporserious/react-measure/commit/204b8bb2f784315528d2aa647247ecd5dd0f1a6e). Thanks @que-etc! I appreciate the help. I was unaware it was your library that was causing the issue. I thought it had something to do with what I was doing.

Please feel free to re-open this if the issue still occurs.

[2016-12-16 21:43] #29 closed

[2016-12-16 23:00] newtriks commented on #30
Ahhh hah! Okay yes that makes sense now, thank you.

On Fri, 16 Dec 2016 at 18:39, Travis Arnold <notifications@github.com>
wrote:

[2016-12-16 23:09] souporserious commented on #30
Awesome! Sorry for the misunderstanding. I updated the docs to be more clear :) https://github.com/souporserious/react-measure/commit/e05dcdeea14679db939283144c76c3587e224fd6

[2016-12-16 23:09] #30 closed

[2017-01-14 22:53] marcandrews commented on #29
I am trying to use react-measure@1.4.5 with [react-boilerplate@3.3.3](https://github.com/mxstbr/react-boilerplate) and I am getting the following error when running the development server:

[code]

Is this error related to this issue?

Sorry, I'm still new to React/Babel/Webpack2, but is there any additional information you need to help me solve this issue?

[2017-01-15 00:35] souporserious commented on #29
@que-etc any idea on the above?

[2017-01-15 00:36] que-etc commented on #29
Still tackling this problem but for now I found that v. 3.4.0 works fine. My take is that it has something to do with webpack@2.1.0-beta.25 which is used in the earlier version of react-boilerplate.

Yeap, fixed in webpack@2.2.0-rc.0 (https://github.com/webpack/webpack/issues/3168)

[2017-01-15 00:43] que-etc commented on #29
@marcandrews would you please try updating to webpack 2.2?

[2017-01-15 00:50] marcandrews commented on #29
@que-etc @souporserious giving it a try now and will report back. Thanks.

[2017-01-15 01:54] marcandrews commented on #29
Updated to webpack@2.2.0-rc.3 and seems like everything is working. Thanks for the help!

[2017-01-16 15:58] souporserious commented on #29
Thanks for the help @que-etc 🎉

[2017-01-23 01:16] Nosherwan opened #31 "Scrollbar triggers odd alternating resize issue"
I am using react-measure to alternate between mobile and desktop views, however for mobile view I have to restrict the height of the container div. Doing so is causing a odd behaviour where once the scroll bar is introduced react-measure starts alternating between two widths values that are being returned. This happens for 15px in-between the upper and lower bound of a particular width value, base

[2017-01-23 15:34] souporserious commented on #31
Hmm interesting. It sounds like a circularity issue like described [here](https://au.si/css-container-queries#the-recursion-issue). You might be able to get the scrollbar width like you said and account for that in your measurement to fix the issue.

Is it possible you can provide a reduced test case showing your issue? You can fork this [Codepen](http://codepen.io/souporserious/pen/rLdwao/) to ge

[2017-01-23 23:01] Nosherwan commented on #31
Thanks @souporserious for the quick response and keen interest.
I have read the circularity issue that you have pointed at unfortunately I am not sure if that is the case here.
However I have used your Codepen and forked it and have created the odd behaviour.
Here is my [CodePen](http://codepen.io/nosherwan/pen/egREMp).
If you resize the window by contracting at about 400 to 415px you can see the

[2017-01-24 21:13] souporserious commented on #31
Thank you for the pen! :) However, I'm not seeing the issue you describe. I'm guessing and hoping it's another browser so I can reproduce. I'm on Chrome 55.0.2883.95. What browser and what version are seeing the issue in?

[2017-01-24 21:44] Nosherwan commented on #31
It is happening on both chrome Version 55.0.2883.95 (64-bit) and firefox 50.1.0 . Here is a gif I have recorded to show the actual behaviour, even though the recorded gif alternates in slow speed, in actual view it happens more frequently. I have recorded for both chrome and firefox. [recorded gif](http://recordit.co/iKVHUH9kRx)

[2017-01-25 00:57] souporserious commented on #31
Ok I got it to do it! My browser height was too tall, once I shrunk it enough it started doing it. Super weird! I'll look into this when I get a chance and get back to you. I'm open to a PR if you stumble upon a solution before then.

[2017-01-31 15:43] designbyadrian opened #32 "_resizeObserverPolyfill2.default is not a constructor"
Getting this error in my Chrome console:

[code]

Simplified JS:

[code]

I added "resize-observer-polyfill" to package.json, but notice no difference.

[2017-01-31 16:17] que-etc commented on #32
I believe that it's the same issue https://github.com/souporserious/react-measure/issues/29#issuecomment-272659453. May I ask if you are using Webpack 2.1-beta? If it's so, then would please update to 2.2.x?

[2017-01-31 16:20] designbyadrian commented on #32
I apologise for not looking in the closed issues section! How very lazy of me. I'll continue over there in case I still have issues. Thank you.

[2017-01-31 16:20] #32 closed

[2017-01-31 16:30] designbyadrian commented on #29
Was running Webpack 2.1.0-beta.25. Updating to ^2.2.0 *(2.2.1 at the time of writing)* fixed my problem.

[2017-01-31 18:44] souporserious commented on #32
Thanks for responding so quick @que-etc! And glad you were able to figure it out @designbyadrian! Would it be helpful to point to this in the README section?

[2017-02-13 13:27] martinwebrant opened #33 "There can only be one"
It does not trigger changes if you nest components. I think you use the resize-observer-polyfill wrong, looks like it wants to have one instance only.

[2017-02-13 13:39] que-etc commented on #33
@martinwebrant  Well, for all I know there is no such limitation. Could you please post a small sample to reproduce the problem? I've tried adding a nested Measure component to [this sample](http://codepen.io/souporserious/pen/rLdwao/) and it worked fine.

**Update:** [nested measure component](http://codepen.io/anon/pen/GrPebV).

[2017-02-13 17:40] souporserious commented on #33
Thanks for the help again @que-etc :)

@martinwebrant is it possible you can produce a Codepen showing the bug?

I use React Measure in [React Fluid Container](https://github.com/souporserious/react-fluid-container) and am able to have nested height calculations. Haven't seen any issues so far. Maybe it's a browser specific bug?

[2017-02-13 18:47] martinwebrant commented on #33
Sorry, my bad jumping to conclusions. Should had broken my code down first and posted a minimal repro before sending you on to a wild goose chase. I'll get back with a proper report.

[2017-02-13 18:47] #33 closed

[2017-02-14 01:09] souporserious commented on #33
No worries. Please let me know if you find anything and I'll look into it 😃

[2017-02-16 18:12] JulianKingman opened #34 "Not compatible with react native"
It would be great if this was compatible with react native, but currently gives the error `unable to resolve module react-dom`.

[2017-02-17 17:40] que-etc commented on #33
@martinwebrant I think I've pinned down the problem you are experiencing. Indeed, there might be a conflict between multiple instances of the ResizeObserver when their callbacks affect content dimensions of each other elements. I've patched it in the [v1.4.1](https://github.com/que-etc/resize-observer-polyfill/releases/tag/1.4.1).

Could you please try to swap your local `./node_modules/resize-obs

[2017-02-20 12:24] VovaMukovozov opened #35 "Invariant Violation: getNodeFromInstance: Invalid argument."
I'm following the example at https://facebook.github.io/jest/docs/tutorial-react.html#content in order to use snapshots with jest.

Code:

[code]

Unit test:
[code]

Error code:
[code]

[2017-02-20 17:37] que-etc commented on #31
@Nosherwan, @souporserious  There is no bug. This is a completely valid behavior from my point of view :)

1. The observed element receives resize notifications because it's width actually increases whenever it's parent node loses rendered scroll bars, which in this case leads to a continuous loop because of this condition: `dimensions.width < 400 ? 'mobile': 'desktop'`. So, it will be jumping bac

[2017-02-20 19:50] souporserious commented on #31
@que-etc thanks for checking this out :) and thanks for the explanation! I'm going to close this since it sounds like the implementation is causing circularity rather than a bug.

[2017-02-20 19:50] #31 closed

[2017-02-20 19:51] souporserious commented on #34
Sorry, but I'm currently unfamiliar with React Native. Some things would need to be moved around and probably need a seperate build, but I'm open to any PR's or ideas you have :)

[2017-02-20 19:55] souporserious commented on #35
Sorry, unfortunately I do not have any experience with Jest 😕 I noticed a typo in your render method `his.renderNav()`, maybe it's that? Please let me know if you find a solution, I'll try and look at this when I get a chance.

[2017-02-20 21:31] Nosherwan commented on #31
@que-etc thank you for the explanation.

However the component I am working on is a tab container. So the external container has fixed position tabs, while the internal component that has the `overflow-y` CSS property forms content that can be scrolled therefore it is not an option for me to move it out.

Even though this is not an actual bug and a circularity issue, any other suggestions would be

[2017-02-21 03:48] souporserious commented on #31
Hmm maybe you can calculate the scrollbar size and account for that in your breakpoint? [Here's a way](https://github.com/davidtheclark/no-scroll/blob/master/index.js#L5-L15) to get the scrollbar width.

[2017-02-21 03:51] JulianKingman commented on #34
After looking around and understanding a few things, I shouldn't have opened this issue in the first place :)

This package obviously works with `react-dom`, because it's a web component. React native by contrast works with native components. Also, the native `View` component has a method very similar API to what this package does, like so:
[code]
So although it would be easy to implement a wrappe

[2017-02-21 03:51] #34 closed

[2017-02-21 08:24] VovaMukovozov commented on #35
`this.renderNav()` it's typo but it's not problem, i get an error just if run unit test.
I use [react-test-renderer](https://www.npmjs.com/package/react-test-renderer) for rendering components in test mode. I'll let you know if find a solution. Thanks

[2017-02-27 19:59] silentpickle opened #36 "React.Children.only expected to receive a single React element child."
I finally tried copy and pasting the example, and other than 'classNames' breaking, I'm sure I was doing everything exactly to the 'T'.

Whether I had 1 child, or 0 children, I got this:

React.Children.only expected to receive a single React element child.

And in usage, I just stuck the 'Measure' around my previously working <div> object.   It would be super cool if this worked, but....

[2017-02-27 20:03] silentpickle commented on #36
Stack trace for your amusement:

Uncaught Error: React.Children.only expected to receive a single React element child.
    at invariant (invariant.js:44)
    at Object.onlyChild [as only] (onlyChild.js:33)
    at Measure.render (Measure.js:162)
    at eval (ReactCompositeComponent.js:796)
    at measureLifeCyclePerf (ReactCompositeComponent.js:75)
    at ReactCompositeComponentWrapper._renderValid

[2017-02-27 21:33] souporserious commented on #36
React Measure only works with one child. It looks like you might be passing multiple children? Can you please [fork this pen](http://codepen.io/souporserious/pen/rLdwao/) and create a reduced test case and I will look into it :)

[2017-02-27 21:53] silentpickle commented on #36
While I will totally say there's probably 'other stuff wrong with my code' (because, there is. I'm trying the old school componentDidMount and my component which I totally have a legit ref to, returns a width,height,left,right,etc of '0')

http://codepen.io/davecrandall/pen/zZGXQM

Recreates a similar error.  No components in measure.

Some background...  I'm embedding a component in backbone and

[2017-02-27 23:10] que-etc commented on #36
@silentpickle  There's got to be a mistake: your pen's identical to the source and it doesn't throw exceptions (checked in Chrome, FF and IE).

Oh, it looks like it's been updated and now the Measure component doesn't have a child element.

[2017-02-27 23:31] silentpickle commented on #36
Apologies, codepen is beyond me...  I didn't hit 'save', then I broke it and hit save.  Moondays.

Here's a new one

http://codepen.io/davecrandall/pen/JWdQeO

Basically if you have an empty '<Measure></Measure>' it didn't work really well for me.

[2017-02-27 23:31] silentpickle commented on #36
`<Measure></Measure>`

[2017-02-27 23:40] que-etc commented on #36
Indeed, Measure component needs at least (and most) one child element: either HTMLELement or SVGElement. Otherwise there is nothing to measure.

[2017-02-27 23:56] #36 closed

[2017-02-28 19:07] silentpickle opened #37 "Does this look right?"
I tried with the codepen yesterday, and the only thing I could get to recreate the stack trace here was having no elements...  which I viewed as somewhat a hint.

However, even in the basic sense... I still get this when I go to use it.

Uncaught Error: React.Children.only expected to receive a single React element child.
    at invariant (invariant.js:44)
    at Object.onlyChild [as only] (onlyCh

[2017-02-28 19:07] silentpickle commented on #37
`  render(){
    return (<Measure>{dimensions => <div className={'banner-component'}></div>}</Measure>);
  }`

[2017-02-28 19:12] silentpickle commented on #37
...or

`
  render(){
    return (<Measure><div></div></Measure>);
  }`

Again, I can't make it happen in the codepen, but short of uploading the entirety of the app I'm working on, I don't think I can do an example.

[2017-02-28 19:14] souporserious commented on #37
I'm sorry, I can't help unless I know more information about what you are trying to do. Without a reduced test case, all I can tell from the error that you posted is that it looks like you are not passing a single React element to the `Measure` component. Can you create a repo with a reduced test case showing the error?

[2017-02-28 19:37] silentpickle commented on #37
So, this worked.
`
  render(){
    return (<div><Measure onMeasure={(dimensions) => {
                console.log("measure callback");
                console.log(dimensions);
        }}><div></div></Measure></div>);
  }
`
This produces the aforementioned stack trace:

`
  render(){
    return (<Measure onMeasure={(dimensions) => {
                console.log("measure callback");
                c

[2017-02-28 19:51] silentpickle commented on #37
Long story short, this can be closed-out, there's a bunch of super.render() in the framework that I'm sure is using this in a manner other than directed on the label.

[2017-02-28 20:43] #37 closed

[2017-03-07 09:22] klaemo opened #38 "possible to ship without resize-observer-polyfill?"
Hey,
thank you for this very helpful module :)

Currently react-measure requires resize-observer-polyfill...so even in browsers that support mutation observers I need to ship the polyfill (if I'm not mistaken).

Could it be instead left to the app developer to polyfill mutation observers as needed? react-measure would then need to use the mutation observer directly.

Am I missing something? What d

[2017-03-07 10:45] que-etc commented on #38
@klaemo I'd like to pay your attention that resize-observer-polyfill is a polyfill for the Resize Observer, not Mutation Observer.

For the time being, this API has been adopted only by Chrome and it's not enabled by default (it's a flagged feature under the #enable-experimental-web-platform-features). [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1272409) and [Safari](https://bugs.webkit

[2017-03-07 11:24] klaemo commented on #38
Ooops...my bad! Sorry about that, got my DOM APIs mixed up! ;)

Thanks for the clarification :)

[2017-03-07 11:24] #38 closed

[2017-03-10 16:16] danielberndt opened #39 "Fails to update when surrounding DOM causes measured element to move"
Have a look at [this example](https://codepen.io/anon/pen/mWWGar) and click on the orange field to start the animation.
Maybe I'm misinterpreting the scope of this component but I was expecting that the `top` property would be continuously updated here

[2017-03-14 13:44] postrad commented on #35
I've run into the same problem when writing a Jest snapshot for a component I've built that uses Measure. Also Measure fails to capture results when using Enzyme's mount() to test the component.

[2017-03-15 16:18] danielberndt commented on #39
fyi: for now I'm circumventing the issue by creating a wrapper component that calls `measure()` on a `<Measure>`-instance every 1000ms. Not ideal but good enough for my use case.

Or are there maybe some DOM-Events out there that might be more helpful in this situation?

[2017-03-15 17:33] souporserious commented on #35
@postrad any ideas on how we can make Jest work with the Measure component?

[2017-03-15 17:53] souporserious commented on #39
Sorry, I could see how that is confusing. React Measure only measures the component when the dimensions have changed by using a Resize Observer. The only thing I can think of for a fix is to wrap the parent in a `Measure` component, then you will know when the child's position top changes.

@que-etc any idea on how this can be solved better?

[2017-03-16 10:18] danielberndt commented on #39
The suggested fix only really works if you recursively wrap all parents in a `Measure` component because theoretically any of these could have an effect on the elements position.
That doesn't sound too feasible. So if there was a native DOM-Event one could listen to would be great!

I'm closing the issue for now because it seems quite out of scope indeed.

[2017-03-16 10:18] #39 closed

[2017-03-16 12:18] kareem3d opened #40 "Ability to pass className"
I'm using `styled-components` and would like the ability to do something like this

[code]

[2017-03-16 12:23] kareemaly commented on #40
Sorry for not testing enough before opening this issue, it looks like you are rendering the children directly and not wrapping them with a div 👍

[2017-03-16 12:23] #40 closed

[2017-03-16 21:03] souporserious commented on #40
No worries! Maybe I can add some better documentation perhaps?

[2017-03-16 21:07] souporserious commented on #39
Sounds good. Now that I think about it, we _might_ be able to detect that change with a [Mutation Observer](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver). I'll try and look into when I get a chance. I'd like to be able to see if any dimensions of a box model change if possible.

[2017-03-16 22:20] kareemaly commented on #40
Yeh probably, I would expect to treat Measure like a normal component and add styling, ref, ....etc, right? ;)

[2017-03-16 22:26] souporserious commented on #40
The idea behind it is that you can use those dimensions to affect that element, especially when using a [child function](https://github.com/souporserious/react-measure#example-usage-w-child-function) :) you can think of it as a smart component that gives you some info about the component you pass to it.

[2017-03-22 04:23] ArielZhang commented on #35
I have the same issue...

[2017-03-22 04:27] ArielZhang commented on #35
https://github.com/facebook/react/issues/8324

seems the same issue, should use refs but not findDOMNode()

[2017-03-22 04:27] ArielZhang commented on #35
@souporserious can you help fix this ?

[2017-03-28 10:11] fcsonline commented on #35
I'm facing the same issue. I created this PR, but I'm not really sure if this is the best approach.

https://github.com/souporserious/react-measure/pull/41

Could you review it, please?

[2017-03-29 19:23] sontek commented on #35
Also something I'm experiencing, #41 looks promising.  Any update on if that could be accepted?

[2017-04-11 07:57] madox2 opened #44 "React 15.5.0 support - deprecated React.PropTypes"
React.PropTypes are deprecated in react 15.5.0 and higher, what causes errors in console.

[2017-04-11 20:35] souporserious commented on #44
Fixed here https://github.com/souporserious/react-measure/pull/43

[2017-04-11 20:35] #44 closed

[2017-04-11 20:37] souporserious commented on #35
Sorry just saw this, I'm trying to determine the best way to handle this and get rid of `findDOMNode` without having to add an additional node. One thing I was thinking was generating a data tag or something that we can then query and send to the `ResizeObserver`.

[2017-04-18 15:19] gargantuan opened #45 "Is it possible to manually trigger a resize?"
Not sure if I should ask this here, or in the [ResizeObserver project](https://github.com/WICG/ResizeObserver/blob/master/explainer.md). Let me know if I should take this question over there.

The resize observer doesn't pick up `window.resize` events. But the dimensions object does contain `left` and `top` values, which can change independently of the width and height of the element, and will cha

[2017-04-18 16:10] que-etc commented on #45
@gargantuan ResizeObserver, despite of the presence of padding top/left properties in the `contentRect`, observes the content size of an element, not its position.

It does pick up the `resize` event but triggers notification only if it resulted in changes of, roughly speaking, `getComputedStyle(element)[width/height]` values.

As for RO itself, it doesn't allow to force trigger the handler.

[2017-04-18 16:23] souporserious commented on #45
Sorry, as @que-etc said, it does not pick up top/left changes. There is a public [`measure` method](https://github.com/souporserious/react-measure/blob/master/src/Measure.jsx#L87) that you can call to trigger the `onMeasure` callback if you know when you want to get those new dimensions.

@que-etc are you aware of any way to listen for changes on top/left?

[2017-04-18 16:28] gargantuan commented on #45
I'm starting to work around this with a `<DimensionsContext />` component.

Good to know about that public measure method though. I'll give that a try too.

**Its not working yet, but I'll edit this comment if I do get it working**

[code]

[2017-04-18 16:28] que-etc commented on #45
@souporserious I'm sorry, but this is not possible using only RO.

[2017-04-18 16:32] souporserious commented on #45
@que-etc totally 🙂 I was wondering if you knew of another way that could work alongside the RO? Maybe a MutationObserver? Seems like it could get pretty heavy though 😕

[2017-04-18 16:46] que-etc commented on #45
@souporserious Yeah, in order to track element's absolute position you would need to subscribe for the `scroll` event, apart from tracking DOM mutations.

But why do you want to conflate this data and not to limit the scope of component moving observation of position to some other library? These events seem quite conflicting to me.

[2017-04-18 17:34] souporserious commented on #45
Totally, it's my fault for providing `top, right, bottom, left` in this library. I think that has mislead some people. But, I think it would be nice to be notified of any change of the element's box size and/or position.

[2017-04-20 07:39] souporserious commented on #35
Alright, I think I finally have an idea how we can make this work. Pretty simple addition, you will just be required to pass a `ref` argument down to your component so React Measure can obtain a proper DOM node. This will only work with a child function so I will probably deprecate the original wrapper.

It would look something like this:

[code]

[2017-04-20 07:59] souporserious commented on #45
@que-etc I just noticed this from you https://github.com/que-etc/intersection-observer-polyfill would that solve this issue? Could possibly be a seperate component that uses that lib it seems like.

[2017-04-20 11:32] que-etc commented on #45
@souporserious You know that I would've told you about the IntersectionObserver if it had been of any use in your case  :slightly_smiling_face:

IO doesn't notify of an every change in element's position. Instead it tells you when the position hits certain breakpoints, like when it goes off the viewport area or becomes visible in it. A quick [sample](https://jsfiddle.net/que_etc/0kw3m831/).

[2017-04-21 10:21] elmondino opened #46 "Failed prop type"
I'm seeing this issue.

Warning: Failed prop type: Calling PropTypes validators directly is not supported by the `prop-types` package. Use PropTypes.checkPropTypes() to call them. Read more at http://fb.me/use-check-prop-types
    in Measure (created by List)

I'm using
"react": "^15.5.4"
"react-dom": "^15.5.4"
  "react-measure": "^1.4.7"

[2017-04-23 22:00] abramobagnara opened #47 "Problem with CSS animation"
I've verified in Firefox that the dimensions passed to callback are not the final ones, but the ones at a random time during animation.
Is this expected?

[2017-04-24 22:35] souporserious commented on #47
I believe so. This has to do with the polyfill. You can find out more about the limitations [here](https://github.com/que-etc/resize-observer-polyfill#limitations). I'm guessing you need more accurate information when an animation is running?

[2017-04-25 06:55] abramobagnara commented on #47
It is not a matter of precision. The point is that I can't get the final size of element in this way and this is the only relevant dimension for my use case.

[2017-04-25 07:40] souporserious commented on #47
Hmm weird. Can you provide some more details on what browser you're using as well as a sandboxed version of the bug? You can fork this [Codepen](http://codepen.io/souporserious/pen/rLdwao/) if you would like.

[2017-04-25 08:51] que-etc commented on #47
@abramobagnara No, It's not expected though it may happen every now and then.

Could you please tell what do you mean by the final state? Are you talking about the one at the end of an iteration? As in case of an animation the final state would actually be the initial state of an element.

If that is what you need, then firing notification on the `animationend` event should do the trick and I coul

[2017-04-25 14:56] abramobagnara commented on #47
I've observed it with a react-virtualized table inside an ant design modal box.
The modal box is zoomed with a CSS transform driven animation.
I've been able to reproduce it in this [Codepen](http://codepen.io/abramo/pen/rmWeRo)

[2017-04-25 15:09] ejames17 commented on #35
im facing the same issue.

[2017-04-26 11:03] que-etc commented on #47
@abramobagnara Oh, now I see it. This problem has nothing to do with CSS animations.

According to the [spec](https://wicg.github.io/ResizeObserver/#intro), ResizeObserver, which is internally used here, doesn't take into account CSS transformations. So it won't notify of changes when a new scale value is applied because the size of its content rectangle actually stays the same at around `176 x 30

[2017-04-26 12:46] abramobagnara commented on #47
@que-etc Your comment seems to no reflect what is observed: if indeed this component use ResizeObserver and indeed ResizeObserver don't take in account transform we should not get wrong dimensions in the Codepen, but we would get always height = 300 (while this is not the case).

Do we agree that the fact that react-measure get dimensions in an random time of transform animation but it does not li

[2017-04-26 12:51] abramobagnara commented on #47
@que-etc In fact react-measure use ResizeObserver to trigger the measurement but it uses getBoundClientRect to measure. This explain well what we observe: in short the trigger and the measurer are related to different/incongruent dimensions.

[2017-04-26 12:56] que-etc commented on #47
@abramobagnara

Yeah, I've mentioned this fact. I'm sorry for not being clear.

[2017-04-26 16:35] souporserious commented on #47
Ahhh I see what's going on now. I'm going to work on a small rewrite soon. @abramobagnara maybe we can an different dimensions like scrollWidth, offsetWidth, etc. Maybe the `whitelist` prop could be used like `whitelist={['offsetWidth', 'offsetHeight']}` and you would only get those back when a change was detected. Does that make sense?

[2017-04-26 17:44] abramobagnara commented on #47
Yes, to have also other dimensions might be a solution. Said that I see little point to retrieve dimension whose change is not observed by ResizeObserver like the ones from getBoundClientRect: it seems an honey pot trap for module users ;-) Isn't better to retrieve and pass only the same dimensions that ResizeObserver tracks?

[2017-04-26 18:16] souporserious commented on #47
Yes this is totally true, and unfortunately I didn't realize when I made this :/ yeah I think the new version should only care about width/height which could either be the offset or from getBoundingClientRect. I might even split it into two components because I think getting top, right, bottom, and left can be useful.

[2017-04-26 18:17] souporserious commented on #46
Can you post what your code looks like please? I'm not sure what would be throwing that error 🤔

[2017-04-26 18:18] abramobagnara commented on #47
Have you considered to simply use the dimensions that ResizeObserver passes to listener?

[2017-04-26 18:20] souporserious commented on #45
Been thinking about this more and might split this component into two, one that handles just width/height changes and another that handles the element position.

I think if I mix the resize observer with scroll events I can fire an event when the element's position changes.

[2017-04-26 18:24] souporserious commented on #47
Ah yes! Most definitely :) when this library was first made it relied on other ways to get the dimensions. Didn't realize the Resize Observer provides those details already.

[2017-04-27 08:34] gargantuan commented on #45
@souporserious That feels a lot neater to me.

[2017-04-29 20:39] souporserious commented on #45
So I have an idea for getting the position. It would require two resizeObservers though :/

But.. I'm thinking we could listen for scroll events + a resize observer on the element and it's parent. That way if an element is repositioned by [an animation](https://github.com/souporserious/react-measure/issues/39) for instance, it can pick up the change.

Maybe there could be some optimizations by che

[2017-04-30 12:06] danielberndt commented on #45
As far as I can see, this will only work reliably if we recursively attach resize observers to all parent nodes up until the root. (I.e. my current node's position might be affected by size-changes of some node way up in the DOM, e.g. the `body` tag.)

[2017-05-12 14:54] gaearon commented on #46
Please see https://github.com/reactjs/prop-types/issues/38.

This was a false positive caused by production version of `prop-types` generating a mistaken warning when development version of React is calling it.

**It is fixed in `prop-types@15.5.10`.**

You might need to rebuild the UMD bundle of the component that depends on `prop-types` (probably this repo) to see the changes.

[2017-05-12 17:11] souporserious commented on #46
Thanks @gaearon 😄  I'll upgrade ASAP.

[2017-05-30 09:59] souporserious commented on #47
In the latest release [the entry](https://github.com/souporserious/react-measure/blob/master/src/with-content-rect.js#L68-L70_) is now passed in if it is available :)

[2017-05-30 09:59] #47 closed

[2017-05-30 10:00] souporserious commented on #46
The `prop-types` package has been upgraded in the latest release :)

[2017-05-30 10:00] #46 closed

[2017-05-30 10:02] souporserious commented on #35
Jest testing should finally work! Please see the latest release. I did a full rewrite, there is no more `findDOMNode` 🎉  you just need to make sure to [pass the `measureRef` function](https://github.com/souporserious/react-measure#children-proptypesfunc) down to the component you want measured.

[2017-05-30 10:03] #35 closed

[2017-05-30 20:14] jrweinb commented on #45
I solved this by calling `this.refs.measureComponent.measure()`
where `measureComponent` is a ref that I assigned to the Measure Component, inside a resize listener on the window. For example:
[code]

[2017-05-31 19:13] tnrich opened #52 "Question: rationale behind v2"
Hey there,

I was just curious about what prompted the rewrite to v2 of react-measure. Could you explain a bit about why the new api is better?

Thanks!

[2017-05-31 19:54] tnrich opened #53 "Getting a flash of 0 width after updating to v2"
Hey there,

I recently made the switch to v2 of react-measure and now seem to get a flash of 0 width when rendering my component whereas before things just worked smoothly (no flash).

In my case I'm using react-measure to set the column widths of a datatable:

Here is the flash:
![asdfasdfasd](https://cloud.githubusercontent.com/assets/2730609/26650948/ff329474-45ff-11e7-9a05-76b3c603608f.gif)

A

[2017-05-31 21:01] tnrich commented on #53
Just to add some more info, here is the same page reload after reverting back to `react-measure ^1.4.7`

![asdfasdfasd](https://cloud.githubusercontent.com/assets/2730609/26653801/3245eab0-4609-11e7-8a36-593eccd60582.gif)

Here is my git diff for my component:
[code]

[2017-06-01 17:52] souporserious commented on #52
Yes, definitely! The biggest gain from the new version, is the removal of `findDOMNode`. This was blocking people from being able to write certain tests, mainly with Jest. This actually helped simplify things in my opinion, because now we can be explicit with what component we want to measure.

The new version also introduces a HoC (Higher-order Component). So now you can take measurements of a cu

[2017-06-01 17:54] souporserious commented on #53
Interesting! Sorry about that. I will look into this as soon as I get a chance. Wondering if it has to do with the removal of `findDOMNode` 🤔

[2017-06-01 17:55] souporserious opened #54 "Write tests"
I need to stop being a turd and write tests for this thing 💩 so here's the issue for it. Feel free to PR if you want to help 😉 I was thinking of using Jest ✨

[2017-06-01 17:56] souporserious opened #55 "add Flow"
I like types. I think other people like types. Let's add Flow to this thing. Feel free to PR if you see this and would like to help 😄

[2017-06-04 15:23] designbyadrian commented on #52
I keep getting height 0, so I'm not sure if I'm doing it properly... downgraded to 1.4 which I find is easier to use.

[2017-06-04 18:24] souporserious commented on #52
Interesting.. would you mind pasting the code that gives you that result @designbyadrian? I'll try and look into it to see where the regression it.

[2017-06-06 05:18] robwise commented on #53
I can confirm I'm getting this too

[2017-06-06 05:22] souporserious commented on #53
@robwise how are you using the component? Can you provide a small test case as well if possible? I haven't been seeing this yet and haven't had time to dig in 😞  hoping to look this week

[2017-06-06 06:08] robwise commented on #53
Does this link work? I made a trivial example where the background is green if the detected width is greater than 0, blue otherwise. Since the width is always greater than 0, it should never be blue, always green. I made a long transition so you can see it better.

https://codesandbox.io/s/nZy0XkrZE

[2017-06-06 07:04] souporserious commented on #53
Thank you! I appreciate it. I think that's to be expected, and I believe might have been hidden on accident with the previous version, possibly because of `findDOMNode`. Since the node needs to to mount before it can be measured, you can use the natural width/height until you have a measurement and then apply it. This _should_ get rid of any flickering. I'll try and put together a small demo tomor

[2017-06-06 20:28] robwise commented on #53
Roger that, yeah because that example I gave is trivial so that it was clear what was going on, but in my own app I'm actually using react-measure to determine the width of a certain element so I know what responsive image to retrieve from Cloudinary. The flicker, therefore, causes a 404 when I request the wrong size so it's very troublesome.

[2017-06-06 20:29] souporserious opened #56 "warn about infinite loops"
Just ran into this. Should have some documentation noting that infinite loops are easy if you aren't paying attention to measure + setState.

Here's a simple example to prevent infinite looping

[code]

Maybe there's a better way to prevent this or even warn when `onResize` updates to much? I'm open to ideas.

[2017-06-06 20:33] souporserious commented on #53
Oh no 😕  that sounds nasty. It sounds bigger than what I'm thinking. If you happen to find any more info, please let me know. I'll look into this ASAP.

[2017-06-07 02:22] anthonygreco commented on #37
@silentpickle curious if you ever got `react-measure` to work on [CodePen](https://codepen.io/anthonygreco/pen/RgPybM)? I get the same error when trying to use the [UMD version](https://unpkg.com/react-measure/dist/react-measure.js) and updated my React references (JS settings where you can add libs) to use the full dev copy instead of the minified versions and the error got a little bit clearer:

[2017-06-07 02:42] silentpickle commented on #37
The codepen stuff I never got working.

For better/worse, we had a 'super.render()' that was being called, and that wasn't helping me out much.   I didn't dive too deep into that because ultimately we went with a breakpoint-based solution, more-or-less.  Nothing against this library, it's just the design constraints were to fit a given 2-3 resolutions, anyway, so, no point in outfitting nukes when

[2017-06-07 22:44] souporserious commented on #37
@anthonygreco sorry about that! The UMD build returns an object with Measure attached to `default`. I've forked [your Codepen](https://codepen.io/souporserious/pen/JJYWXW?editors=0010) to show you how you can use it. I need to update the docs, sorry about that.

[2017-06-07 23:33] johnryan commented on #52
@souporserious I'm seeing the same issue, i have something like this:

[code]

I'm seeing all the values as 0 except for "right" which is strangely set correctly. Is this the correct usage? Maybe the issue is caused by the component hierarchy?

[2017-06-08 04:53] anthonygreco commented on #37
@souporserious Apologies. I should've mentioned that I tried that, to no avail. While the pen loads since a valid variable is being used, it doesn't actually work. The handle resize is never called, which is why no data is displayed. Is there more work that needs to be done to get Measure working in CodePen?

FWIW, I updated [my pen](https://codepen.io/anthonygreco/pen/RgPybM?editors=0011) to poin

[2017-06-12 20:02] Philipp91 opened #57 "Only works on native DOM elements"
Unlike with 1.x, `react-measure` version 2.x only allows measuring elements like `<div>`s, but not other React components, because their refs are not elements and thus cannot be passed into the resize observer's `observe(target: Element)` function (https://github.com/souporserious/react-measure/blob/master/src/with-content-rect.js#L56).

Is there a workaround for that?

[2017-06-12 20:11] Philipp91 opened #58 "Get childrens' dimensions"
I have a use case that was easy to handle with `react-measure` version 1.x, but it's not obvious how to solve it with 2.x -- maybe the new API is not as powerful as the old one?

My application shows a container with one row buttons (`material-ui`'s `FlatButton`s). When they overflow (i.e. there's too many for the container width), they the container hides them and displays a small "..." button in

[2017-06-13 02:28] souporserious commented on #58
Hmm I'm not sure I follow exactly what you are unable to do. Is it possible you could put together a small demo or even some code snippets of what you are working with?

[2017-06-13 02:31] souporserious commented on #57
This is true. You will need access to the components ref. You can get around this by doing the something like the following:

[code]

Unfortunately, you might have to file an issue with a library author if they don't expose this for you.

You _might_ be able to do something like this (untested):

[code]

[2017-06-13 02:31] #57 closed

[2017-06-13 19:11] Philipp91 commented on #58
Sorry, my description wasn't really clear.

Here's a strongly simplified version of my code that works with 1.x:

[code]

The container knows its own size and the sizes of all children. In this simplified example, it just renders as many children as can fit in one line and drops the rest. This may seem silly and can be achieved with other means (pure CSS, for example), but my actual code prioritiz

[2017-06-13 20:10] souporserious commented on #58
Thank you!!! This makes more sense. This actually just gave me an idea to extend the API. It seems like it would be cool if you could somehow how pass down multiple refs to add to the Resize Observer 🤔 so essentially you have one `Measure` component and get one callback for all of the refs that are subscribed. Does that sound like it would help?

[2017-06-13 20:46] Philipp91 commented on #58
Setting aside that I'd also need #57 and I need these sizes when the page load, not only when something gets resized: yes, that would help.

If I'm getting your idea correctly, I could have a `<Measure callback=..><child1 key=../><child2/>...</Measure>`, would somehow have to pass down the `ref` to all those children and could then get the sizes of all children (by index, by key?) in a single call

[2017-06-17 04:56] anthonygreco opened #59 "CodePen Support"
Any idea what's not right about this [CodePen](https://codepen.io/anthonygreco/pen/RgPybM?editors=0011)?

[2017-06-21 00:57] souporserious commented on #59
Sorry I just saw this, not sure what you mean? It seems to be working for me.

[2017-06-23 03:59] anthonygreco commented on #59
There's no syntax error, but it still doesn't work. The `handleResize` method that should get called on window resize is never called and the render method should display the component's dimensions:

[code]

Worth noting, logging `console.log('_resizeObserverPolyfill2', _resizeObserverPolyfill2);` in the umd script returns:

[code]

[2017-06-23 04:44] souporserious commented on #59
Ah I think it's because I have the Chrome flag turned on so it might be using the native one 😞 sorry about that. I'll work on fixing the dist build as soon as I can.

[2017-06-26 20:38] chrisdrackett commented on #57
@souporserious this seems like a fairly big issue when it comes to deeply nested react components, especially if some of the components are not owned by me. I'm still testing 2.0, but so far its been a bit painful :)

[2017-06-26 20:45] souporserious commented on #57
Sorry about that 😕 In order to allow testing of this component I think it has to be this way. I'm open to any ideas if we can get testing and `findDOMNode` to play nice. Did the above not work for you?

[2017-06-26 21:04] chrisdrackett commented on #57
not sure, going to give it a go once I get out of meetings :D

[2017-06-26 21:05] souporserious commented on #57
Awesome, would love to know if it works or not 😊

[2017-06-26 21:35] chrisdrackett commented on #57
I'm probably also having an issue due to functional components. It is too bad there isn't a better way to handle these usecases in react! :) (that I've found yet)

[2017-06-26 21:36] chrisdrackett opened #60 "better error handling"
for example, I tried adding a ref to a functional component and there were no errors, things just didn't work.

[2017-06-26 23:00] chrisdrackett commented on #57
anyways, I got this working using innerRef (or similar) so thats good, I'm on 2.0!

[2017-06-27 00:28] souporserious commented on #60
Ah this stinks. I'll get to this ASAP. Thanks for filing!

[2017-06-27 15:57] chrisdrackett opened #61 "does onResize fire on first mount?"
if so, might be nice to note this in the docs, I'm happy to do it on confirmation.

[2017-06-27 16:18] chrisdrackett opened #62 "should this component listen to scroll events if `scroll` is being measured?"

[2017-06-27 16:28] chrisdrackett opened #63 "error running dev env"
I'm getting `TypeError: Can only call DOMRectReadOnly.toJSON on instances of DOMRectReadOnly`

when running the dev environment. Going to attempt to debug.

[2017-06-27 16:31] chrisdrackett commented on #63
seems like this might be a safari issue, not a problem in chrome

[2017-06-30 09:12] designbyadrian opened #66 "Debounce?"
Is it possible to prevent Measure from firing until you stop resizing the window?

I'm currently using react-measure 1.4

[2017-06-30 18:56] souporserious commented on #66
If you are using 1.0 you can pass `shouldMeasure={false}` and that will prevent it from updating. Curious if there is any reason you are not using 2.0?

[2017-07-01 17:00] designbyadrian commented on #66
But to use `shouldMeasure`, I'd have to listen to window resize events and then trigger Measure. I was hoping to not have it fire while I was resizing the window - only when I release the mouse. Granted, that's how only a few older browser handle it, thus my request for debounce, to have it fire every few hundred milliseconds or so.

I found pre 2.0 easier to use. I've only needed to measure small

[2017-07-05 14:07] souporserious opened #67 "Bring cloning back"
Cloning was removed in 2.0.0, but I think it would be beneficial to bring it back. Before, we cloned the node in an external library, but we might get some benefits by letting React doing the cloning. I think this should be a method on `withContentRect` or maybe a seperate utility that will take the component, clone it, then remove it and return the new dimensions. [This article](https://css-trick

[2017-07-06 12:37] danielberndt opened #68 "Pause Measuring / Only re-render if measurements change"
Hello again!

This is not really an issue, it's rather a request for some feedback.

I'm using react-measure for tooltips and since I'm working on a big app, performance becomes an issue. So I've got the following requirements:
1. Only start measuring the dimensions of the element if the tooltip needs to be shown
2. I need to call `measure()` every x milliseconds, because react-measure doesn't kno

[2017-07-11 03:01] robwise commented on #67
Do you think doing this would also end up resolving #53 ?

[2017-07-11 03:02] robwise commented on #53
@souporserious Do you have an example of "using the natural width/height"? I'm not sure how to do this

[2017-07-11 09:56] adrienharnay commented on #53
Hi, stumbled on this too. Before the update, `onMeasure` (now `onResize`) was called after the first render, with the right bounds. Now it is called after, and this causes a flash as @robwise pointed out.

It is also not clear to me how to use natural width/height whilst waiting for first render...

[2017-07-12 15:04] estaub opened #69 "[Doc, enhancement] Consider 2.0 migration guide?"
I spent an hour or two trying to upgrade to 2.0 yesterday and gave up - it's just not worth anything to me beyond being able to stay current.  I'll probably try again in a few months - but if it's a hassle I'll start looking at other options.

IMHO, 2.x does little new that will motivate most current users to upgrade, if they're getting what they need now.  I'm not saying it wasn't a good idea, ju

[2017-07-12 16:41] souporserious commented on #69
This is a great idea! Thank you for sharing your thoughts. Sorry, I've super busy trying to manage some of my other libraries 😓 but I'll get to this as soon as I can. I'll work on a migration path to hopefully ease that pain. Would love to see how you've used it in 1.0 just to make sure I can account for the use case.

Again sorry about this, I didn't realize how much removing `findDOMNode` would

[2017-07-12 16:42] souporserious commented on #68
This sounds pretty interesting! Once I get a chance, I'll look into this.

[2017-07-12 16:46] souporserious commented on #53
@robwise sorry, that was pretty vague. I meant using the "auto" values until they have been calculated. So something like `contentRect.bounds.width || 'auto'`. I'm going to revisit all of this soon and try to ease all the pain and bugs coming from 1.0 to 2.0. I think I have a good grasp of the pain points and can hopefully get the same benefits from 1.0 plus more in a 2.1 version.

[2017-07-12 22:40] robwise commented on #53
Ohh okay gotchya. Appreciate that I'm looking forward to it! Let me know if there's something you need me to help with

[2017-07-13 00:10] estaub commented on #69
For me, at least, removing findDOMNode wasn't an issue - it's the whole API rework.  My use is about as simple as can be, and I'm sure that the v.2 implementation is simple too - I just didn't hit it immediately.

Simplified:
[code]

[2017-07-14 08:56] ragtime commented on #69
:+1: for migration guide and the lib in general.

This is how we are currently using it:
[code]

[2017-07-14 14:30] estaub commented on #69
@ragtime Thanks!

@souporserious you should probably get `whitelist` onto the readme - there's no mention of it, I assumed it was gone in v2.

[2017-07-14 14:30] jedwards1211 opened #70 "new super-powerful API idea"
Hi @souporserious,

The idea of passing a `measureRef` to the child function was genius, and it made me realize we could do something similar to make it possible for a single `<Measure>` element to measure many components in one fell swoop.

The idea is to turn `measureRef` into a function that we call with what to measure and the name of a state subtree, and then it returns a ref.  So we can crea

[2017-07-14 18:43] estaub commented on #69
@ragtime Now that I've had a chance to look at things, AFAICT you can't possibly be using version 2.  In v2, `whitelist` is gone, and the `({width, height}) =>` params you are providing the inner function are wrong.

[2017-07-14 19:29] estaub opened #71 "Cannot use ref within <Measure>"
Refs worked in V1, but break in V2 with React error:

`Stateless function components cannot have refs.`

Example:
[code]

[2017-07-14 23:37] markwoon commented on #69
@souporserious A migration guide would have been a great help.  Is there anything similar in v2 to `whitelist`?  For example, I only care abound `bounds.height` and only want to be notified when that changes.

@estaub Assuming you're using ES6 class syntax, try

[code]

[2017-07-15 00:09] souporserious commented on #69
Thanks @markwoon! @estaub that should work for your example. If you need access to the ref you can do something like this:

[code]

I'm going to work on a guide as soon as I get a chance 😅

[2017-07-15 00:12] markwoon commented on #69
@souporserious Could you also please elaborate more on using the `withContectRect` HOC?  How would you use it with @estaub's example?

[2017-07-15 00:19] souporserious commented on #71
String refs unfortunately don't work with child functions. You can read more about them [here](https://github.com/chenglou/react-motion#faq). I'll add the same documentation here when I get a chance.

[2017-07-15 00:26] souporserious commented on #70
This is great! I had a similar idea when I introduced it 😆 but I wasn't sure how I could make the API work. I need to explore some things further, but I love the start of this! I'd love to be able to handle multiple measurements in one pass if possible. I might start looking at a `3.0` release here soon. I think after seeing some of these issues, there's a nice path forward for a powerful measurem

[2017-07-15 02:19] estaub commented on #69
@markwoon I haven't tried your solution yet, but thanks; it appears to explain a problem I was having.

Re `withContentRect`, I found it eye-opening to read the source for `<Measure>`: https://github.com/souporserious/react-measure/blob/master/src/Measure.jsx

Read the last line carefully!

[2017-07-15 03:05] estaub commented on #69
In starting to update the Typescript declarations, I read most of the implementation to figure out what's needed.

One area that I couldn't understand at all was the `entry`/`entries` feature in contentRect.  What's it for, how's it used?  I've no urgent need to know, I'm just saying it needs documenting if it's useful.

[2017-07-15 03:12] souporserious commented on #69
`withContentRect` uses a `ResizeObserver` to detect changes. I believe the true width and height of the content is returned, as mentioned [here in the spec](https://wicg.github.io/ResizeObserver/#content-rect-h). I have found things like `getBoundingClientRect` to work better in certain situations for some reason.

@que-etc might be able to help answer this better.

[2017-07-15 13:51] jedwards1211 commented on #70
Sweet! Do you think it would cause any difficulties with attaching or detaching the resize observers?

[2017-07-15 20:05] souporserious commented on #70
I don't think so! My initial idea for this was sparked by ResizeObservers being able to take multiple entries, so I just need to explore that a little more :) Essentially, I think you would have one ResizeObserver for the component and then each function call could subscribe to it. Then if the ref returns null it can unsubscribe.

[2017-07-19 15:37] jedwards1211 commented on #70
huh, I still don't know much about ResizeObservers.  Anyway that's cool!

[2017-07-24 13:51] ilyabo commented on #56
This can also happen even without `setState`. E.g. when the content changes depending on the sizes and the change in the content in turn affects the sizes. I think it would make sense to warn about this in the README.

[2017-07-25 10:16] marchaos opened #72 "React-Measure does not work on elements in another window"
This is because of this issue: https://github.com/que-etc/resize-observer-polyfill/issues/17

I'm slightly concerned since the guy maintaining resize-observer-polyfill hasn't been active for some time.

[2017-07-25 10:16] marchaos commented on #72
#https://github.com/que-etc/resize-observer-polyfill/issues/17

[2017-07-27 15:44] TrySound commented on #55
Would you like to rewrite code on flow instead of prop types or just add flow typings?

[2017-07-27 15:50] TrySound commented on #54
There's example here for similar component
https://github.com/bvaughn/react-virtualized/blob/master/source/AutoSizer/AutoSizer.jest.js

[2017-07-27 17:51] souporserious commented on #55
I was thinking of replacing PropTypes with Flow and using [babel-plugin-react-flow-props-to-prop-types](https://github.com/thejameskyle/babel-plugin-react-flow-props-to-prop-types).

[2017-08-23 23:33] souporserious opened #74 "Look into only rendering once"
Came across [this cool package](https://github.com/trotzig/react-with-available-width) and realized we can be a little better and only render the component once. I think we may be able to just calculate the container width and pass that down since it has already been rendered.

[2017-08-29 14:02] jpolo opened #75 "Remove children: PropTypes.func in withContentRect()"
This prop typing is only valid for <Measure> component. I use withContentRect() with a component (successfully) and the type of children is a regular react-fragment

[2017-09-05 20:23] dkrieger commented on #75
I agree that children shouldn't need to be a function. currently doing `{(arg) => <Child prop={arg} />}` to work around this, but I think there are more performant ways of rendering children dynamically at this point in react

[2017-09-05 21:17] kieckhafer opened #76 "TypeError: parameter 1 is not of type "Element""
Just update from `1.4.7` to `2.0.2`. I'm seeing this error:

[code]

[code]

Only change I made to go from `1.4.7` to `2.0.2` was to wrap the `<Comp>` in `measureRef`, and add the `ref` prop.

[2017-09-05 21:52] dkrieger opened #77 "contentRect.offset.top is wrong on orientation change (Chrome Android)"
I'm getting the right values on render, but the wrong values on orientation change. Inside my wrapped component, there is another wrapped component in use tracking margin, and that value is correct on orientation change. height/width values included in contentRect.offset are correctly updating. Is there a problem with rendering a wrapped component inside another wrapped component?

Side note: it i

[2017-09-05 21:53] dkrieger commented on #76
you can only measure native DOM elements in v2

[2017-09-06 00:07] #76 closed

[2017-09-12 20:36] joekrill commented on #75
I'd like to see this as well. I'm using `recompose` and it gives me a warning when I try to compose `withContentRect()` -- unless it's the last higher-order component I compose and I use the workaround that @dkrieger mentioned. I'll throw up a quick PR for it.

[2017-09-14 08:34] RXminuS commented on #76
Just for people who were confused by the brevity of the last comment...his render function should look like this:

[code]

[2017-09-14 10:25] ribx opened #79 "SVG: provide bbox measures"
After applying a rotation to an element, "bounds" reports the measures of a surrounding rectangle with borders parallel to the window. I need the informations from getBBox() (in my case from a test element).

Is this possible with the current implementation?

[2017-09-17 23:08] wtgtybhertgeghgtwtg commented on #76
Why?  That seems to go directly against [what the README says](https://github.com/souporserious/react-measure/blob/master/README.md#measure-component).

[2017-09-28 12:56] tatsujb opened #81 "How do you go about measuing changes to the size of the scrollHeigth as components get added?"
I'm trying to listen to my window's height as components get added. I want to follow suit with my background which by default is I don't set it's height is 0px high.

thanks

[2017-09-29 20:58] amanmahajan7 commented on #37
I am ruining into the same issue with `TypeScript`.

[code]
`Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components)`

`console.log(Measure); is undefined`

Any suggestions would be highly appreciated. Thanks

[2017-09-29 21:08] silentpickle commented on #37
Just for amusement, give this a shot....  if I'm not missing something (I'm not the best TypeScript guy out there)

[code]

[2017-09-29 22:35] amanmahajan7 opened #82 "[Feature Request] Remove `add-module-exports` babel plugin"
`add-module-exports` plugin mimics `babel-5` behavior and adds a magic `module.exports = exports['default'];` statement if the module only has `default` export. Although this is convenient but it is not the correct behavior and `Babel 6` has removed this  hack.

This problem is clearly explained on [stackoverflow](https://stackoverflow.com/questions/33505992/babel-6-changes-how-it-exports-default)

[2017-09-29 22:36] amanmahajan7 commented on #37
This seems to be related to `add-module-exports`  babel plugin. I have created a new issue
https://github.com/souporserious/react-measure/issues/82

[2017-09-29 22:51] amanmahajan7 commented on #82
Here is more info
https://github.com/Microsoft/TypeScript/issues/5565#issuecomment-155216760

[2017-10-04 01:49] jbyttow opened #83 "React 16 support"
react-measure is not compatible with React 16 due to its dependency on React.createClass, this should be the only issue, but there may be others...

[2017-10-07 13:21] neptunian commented on #59
Any news on this?  I'd like to demo my component using react-measure but when I wrap it in <Measure> nothing shows up.

[2017-10-07 13:26] neptunian opened #84 "Codepen example"
Can anyone point me to any example of react-measure working in a Codepen?  Or is it not possible?All the examples I've tried looking at don't seem to be working.

[2017-10-23 15:15] hkelly93 commented on #83
@jbyttow I used your suggestion here https://github.com/souporserious/react-measure/pull/86.

Anyone feel free to comment or update my PR.

[2017-10-23 17:23] TrySound commented on #83
@jbyttow react-measure does not use React.createClass. And all seems like work fine in my projects.

[2017-10-23 20:07] thomasthesecond commented on #84
@neptunian Here's a working example in CodeSandbox. Hope it helps!

https://codesandbox.io/s/ypox1jlv5z

[2017-11-08 11:10] timocov opened #87 "getComputedStyle might return null"
According to souporserious/get-node-dimensions#8 and [bug in Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=548397)

Is it possible to handle cases when `getComputedStyle` return `null`? For example [set invalid rect or rect with zero dimensions](https://github.com/souporserious/react-measure/blob/master/src/get-content-rect.js#L44-L50)

[2017-11-17 19:49] jrmyio commented on #56
Also ran into this! At least it wasn't a big in <Measure/> itself :)

[2017-11-23 12:53] themre commented on #53
Confirm, this problems doesn't occur with 1.x, but happens with 2.x.

[2017-11-25 21:44] #84 closed

[2017-12-14 16:08] AVickory commented on #83
I believe the issue is specifically that if the Measure component's child is created using createReactClass from the "create-react-class" package then you get the `parameter 1 is not of type "Element"` error thrown here: https://github.com/que-etc/resize-observer-polyfill/blob/master/src/ResizeObserverSPI.js#L81.

[2017-12-15 22:14] AVickory commented on #83
nvm just found https://github.com/souporserious/react-measure/issues/76

[2018-01-17 21:17] mlmassey commented on #76
Just in case this helps anyone, I was receiving this error when I was trying to wrap a styled component.  For styled components, you need to use innerRef instead of ref.  Then you don't need to wrap your styled component in an outer div (as mentioned by @RXminuS)

[2018-02-04 02:06] #83 closed

[2018-02-04 02:10] souporserious commented on #72
Looks like this has been fixed or at least slightly fixed now.

[2018-02-04 02:10] #72 closed

[2018-02-04 02:10] #71 closed

[2018-02-04 02:16] #52 closed

[2018-02-04 02:20] #69 closed

[2018-02-04 02:21] #67 closed

[2018-02-04 02:22] #66 closed

[2018-02-04 02:22] #63 closed

[2018-02-04 02:27] #55 closed

[2018-02-04 02:30] #45 closed

[2018-02-04 11:39] marchaos commented on #72
Yep. Cheers

[2018-02-09 15:50] colinhunt commented on #53
Hi, any updates on this? I'm trying to use react measure to position an element, so I need the correct location right away, or else the element is rendered in the wrong spot initially and then jumps into place. Sounds like I would currently need to detect if the dimensions are 0 and hide the element until it has been measured properly...

[2018-02-09 16:01] souporserious commented on #53
Sorry it has taken a while to get to this. I'm currently working on v3. I'll try and get a `beta` published soon so you can try it out. It should fix this issue as well as other current issues filed for this library.

[2018-02-09 16:42] colinhunt commented on #53
Hey no worries, thanks for the extremely useful library and all your hard work!
My workaround was easy to implement and appears to be working. In `render()`, I just set `visibility: hidden` if the dimension I'm interested in is 0, and also allows it to be re-measured with the proper dimensions. Then when `onResize()` is called, I do
[code]
and use `this._dimensions` in the render method.

[2018-02-09 20:56] souporserious commented on #53
Nice! Yeah, you shouldn't have to do that in the latest version 🤞. I realized that a ResizeObserver's first call takes too long which I'm pretty sure is why it flashes when trying to use dimensions on first mount.

[2018-02-15 08:09] greggman opened #90 "Understanding how measureRef works"
I've been running into an endless update loop and am having no luck making a reduced case yet nor understanding the issue so I thought I'd post something and see if anyone has any tips or ideas.

The issue I'm having is my `onResize` is being called constantly. I'm checking that width and height equal what I already recorded and they are the same. Adding lots of console logs I see that the the mea

[2018-02-15 08:28] greggman commented on #90
Ok, I managed to make a repo

https://codesandbox.io/s/4820o8rn47

The only difference between working and NOT working is whether or not I use a closure for the `ref` callback.

This works

[code]

This does NOT work

[code]

Any ideas why that would cause an issue?

Unfortunately I also need the ref for my own code which is why I had a closure in there.

[2018-02-15 21:43] souporserious commented on #90
Hey @greggman thanks for filing an issue! This is on my radar. I'm currently working on a new version of react-measure that will solve this issue. I'll post a PR soon so you can try it out if you would like. It will be a fairly similar API with a lot more power and should fix most of the outstanding issues.

[2018-02-21 01:23] piotrblasiak opened #91 "ReferenceError: document is not defined"
When running on the server, 3.0.0-rc.3 fails with:

node_modules/react-measure/lib/utils.js:15
var body = document.body;
                   ^
ReferenceError: document is not defined

[2018-02-22 19:31] jrmyio commented on #82
Also ran into this error:
https://github.com/souporserious/react-measure/issues/37#issuecomment-333237534

Using:
[code]
to work around the error but I obviously loose type checking.

[2018-02-28 07:12] wasong opened #96 "Invalid type when using default import"
On version "^3.0.0-rc.3", using `import Measure from 'react-measure'` as indicated in the example gives me React.createElement invalid type error.

My solution was to use it as a named import. `import { Measure } from 'react-measure'`.

I'm not sure if this is a bug or just needs an update in the README!

[2018-03-01 07:35] souporserious commented on #70
Finally got around to this if you're interested in trying out the release candidate 😸  https://github.com/souporserious/react-measure/pull/97.

[2018-03-01 14:28] Ruffeng commented on #91
Same problem here

EDIT: Just saw that you're rewriting the package and we should install version 2, not 3.

[2018-03-08 10:34] herrstucki opened #99 "Please tag v2 as `latest` on npm"
Currently, v3.0.0-rc.3 is tagged as `latest` on npm, which is still WIP and undocumented judging from the README. But since it's `latest`, `npm install react-measure` will install that version instead of v2.

Thanks in advance!

[2018-03-08 17:19] matneyx opened #100 "How to find components in children, using enzyme?"
I'm trying to incorporate react-measure in an existing project, using it to measure the width of a modal so I can pass in the modal width and set the width of my fixed-data-table-2 Table (I'm yanking out fixed-data-table and responsive-fixed-data-table).

Functionally, everything works, but my tests are broken because enzyme can't find Modal.Title anymore... It can find Modal, but even with mount,

[2018-03-08 17:41] souporserious commented on #99
Sorry about that! I've been wanting to do something like this, but don't know how 😓. Do you by chance know how to do this? I haven't found anything online to be able to point back to an old version on NPM.

[2018-03-08 17:46] souporserious commented on #100
Hmm weird 🤔 I'm not familiar with testing in enzyme. What version are you using?

[2018-03-08 17:47] jstcki commented on #99
`npm dist-tag add react-measure@2.0.2 latest`

With `npm dist-tag ls react-measure` you can check if it worked.

When publishing prerelease versions you can do something like `npm publish --tag next`

See https://docs.npmjs.com/getting-started/using-tags

[2018-03-08 17:50] jstcki commented on #99
I have a script which helps me not to forget tagging a release; it checks if the version number contains a `-` and then will publish with tag `next` automatically: https://github.com/interactivethings/catalog/blob/master/scripts/publish#L1-L26

[2018-03-08 17:58] matneyx commented on #100
"react-measure": "2.0.2",
"enzyme": "^2.8.2"

[2018-03-08 17:59] matneyx commented on #100
Obviously, I don't want to change testing libraries for a single component, but is there a testing library that you use that can find child components inside Measure?

[2018-03-08 18:46] souporserious commented on #99
Awesome, thank you for the tips and tricks ✨. It should be fixed!  I think I understand tags a little better now 😅. I appreciate the help 🙏.

[2018-03-08 18:46] #99 closed

[2018-03-11 05:30] souporserious commented on #100
Definitely, I feel you. Unfortunately, I'm not too savvy with testing. I've only done a little bit, I really need to get better about it. I'll leave this open though so someone can hopefully help. Maybe there is a pattern for testing render props or HoCs with enzyme 🤔. I'll try and do some research.

[2018-03-11 07:36] TrySound commented on #100
@matneyx I'm sure it's trivial since render prop allows you to render anything.
[code]

[2018-03-11 07:38] TrySound commented on #100
Try with simple example, it's probably not react-measure problem.

[2018-03-16 08:23] VladimirKhil commented on #100
Btw, is there a way to mock parameters "width" and "height" provided to child div by react-measure?

[2018-03-16 13:44] matneyx commented on #100
I was able to get my tests to work by moving Measure further into the component (the last div surrounding my fixed-data-table).  I'm still not positive that I could get inside a react-bootstrap Modal, but I think that's more to do with how Modal is rendered and nothing to do with Measure.

Thanks for all your input.

[2018-03-16 13:44] #100 closed

[2018-03-22 12:46] BenLorantfy opened #101 "Failed prop type: Invalid prop `children` of type `object` supplied to `_class`, expected `function`"
I'm getting this warning in the console whenever I try to use this library. It works perfectly but it still spits out this warning.

[code]

This is simplified version of how I'm using it:
[code]

[2018-03-26 11:46] seb0zz opened #104 ""ResizeObserver loop limit exceeded" since Chrome update 64"
I'm seeing this error message in my console since Chrome update 64. Doesn't seem to have any effect on my UI. Is anybody else having the same issue?

[2018-03-27 08:15] AnthonyKob commented on #104
Exactly the same issue with Chrome 64 or 65

[2018-03-27 10:08] KowalskiP commented on #104
Yes, same issue with 65 version

[2018-03-27 20:31] souporserious commented on #104
Interesting 🤔, I haven't seen this myself yet, I'll have to test it out. It sounds like it might be the polyfill we are using. @que-etc any ideas here?

[2018-04-02 14:10] Hypnosphi opened #106 "Remove usages of unsafe lifecycle methods"
React team recently published a blogpost: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

TL;DR: `cWM`, `cWRP`, and `cWU` methods are considered unsafe for future async rendering and will be deprecated soon. The recommended way for open source maintainers to deal with it is to use [`react-lifecycles-compat`](https://github.com/reactjs/react-lifecycles-compat) package and migrat

[2018-04-02 20:40] souporserious commented on #106
Thanks for the heads up! This won't be a problem in the new version :) please feel free to follow along [here](https://github.com/souporserious/react-measure/pull/97). I'll close this once it is released.

[2018-04-02 22:28] Hypnosphi commented on #106
AFAIS this branch uses those lifecycles as well e.g. https://github.com/souporserious/react-measure/blob/03cf3a2046d971218c23ece7bde9614f64d42173/example/components/Collapse.js#L21

[2018-04-03 05:57] souporserious commented on #106
Ah true! I'll make sure to update the examples 😇 thanks!

[2018-04-04 20:57] ryanwisniewski commented on #104
We're getting this exception multiple times daily. Any update?

[2018-05-08 23:37] kkir commented on #101
you can wrap Measure in HOC:

[code]

and use it after:
[code]

[2018-05-09 11:57] siirila opened #108 "resizeObserver not correctly disconnected in componentWillUnmount in version 2.0.0"
In version 2.0.0, the resize observer is not correctly disconnected during the componentWillUnmount lifecycle hook. It checks for this.resizeObserver to see if an observer exists to disconnect, but it should be checking this._resizeObserver. See https://github.com/souporserious/react-measure/blob/a5a56a60dfdb1c2c62e980641b6b317efca3ed0f/src/with-content-rect.js#L57

This is causing errors when a m

[2018-05-09 20:56] souporserious commented on #108
🤦‍♂️  If you would like to submit a PR I can cut a release under version 2, not sure how this wasn't found earlier 😓, sorry about that. It has been fixed properly in version 3 that's coming out soon.

[2018-05-10 20:49] jessb321 commented on #104
We are having this issue as well over at EDCD/Coriolis#208. Happens any time the window resizes.

[2018-05-25 00:12] neptunian opened #109 "IE11 and Edge error 'Invalid Calling Object'"
This is from the outdated dependency "resize-observer-polyfill".  can you update to a later version?
https://github.com/que-etc/resize-observer-polyfill/issues/20

[2018-05-27 21:28] #109 closed

[2018-06-13 13:05] gertsonderby commented on #101
I'm getting this exact error message when invoking the withContentRect HOC.

[code]

As far as I can tell, I am using the HOC correctly, the onResize handler gets called and updates the state, height is correct and gets updated, everything seems to work - but I keep getting the proptype error.

[2018-06-13 15:02] Hypnosphi commented on #101
Looks like `children` propType should be added in `Measure.jsx` instead of `with-content-rect.js`
I can send a PR

[2018-06-14 11:06] gertsonderby commented on #101
I refactored to use the component instead, and got rid of the error.

[2018-06-14 12:44] michael-ecb commented on #104
For me this error do not appear in chrome console but in "Javascript errors notifier" (chrome extension)
any update ?

[2018-06-22 07:47] thomaskempel opened #111 "onResize is not called, if div has width and height of 0"
Hi,

I just figured out, that if I have code like this:

[code]

the onResize gets never called. The same is, if the div has height or width before and then gets empty.

Is this the expected behaviour or is this a bug?

Thanks,
Thomas

[2018-06-22 15:43] JabbyPanda commented on #104
Some discussion on `ResizeObserver loop limit exceeded` https://github.com/WICG/ResizeObserver/issues/38

[2018-07-23 19:23] mbueti commented on #108
Is there any update on this? v3 is as of yet unreleased, and this bug is creating a huge amount of noise in our exception handling.

[2018-07-23 19:26] souporserious commented on #108
Sorry, I haven't had any free time to devote to this, I will be soon, but I'm not sure exactly when. If you would like to submit a PR for V2 fixing this, I will review it and publish a patch if all looks well.

[2018-07-23 20:05] mbueti commented on #108
There you go! https://github.com/souporserious/react-measure/pull/112

[2018-07-24 02:08] quintesse opened #113 "How to use `ref` on custom element?"
First, sorry for using the issue tracker for a question, but I didn't see any mention of a mailing list or forum!

So my question is how to use `<Measure>` with a custom element, like for example a semantic-ui control? I'm trying to do this:

[code]

but that results in "TypeError: Failed to execute 'observe' on 'ResizeObserver': parameter 1 is not of type 'Element'".

I can add a `<div>` around i

[2018-07-30 08:01] adekbadek commented on #113
You need to pass `ref` to the element rendered by the custom component, for example:
[code]

[more on that here](https://github.com/styled-components/styled-components/issues/102#issuecomment-254475851)

[2018-07-30 08:14] quintesse commented on #113
I probably didn't explain this well enough, but what I wanted to say was:

So my question is how to use `<Measure>` with a custom element **not made by me and therefore unable to change the way it works**, like for example a semantic-ui control?

So there's no way for me to pass an `innerRef`.

[2018-07-30 12:31] adekbadek commented on #113
I guess if the library you're using does not provide a way of passing a ref to then rendered element, then you're out of luck :/

But maybe I'm wrong and there is some (maybe hacky) way of accessing the ref?

[2018-07-30 16:05] quintesse commented on #113
Well yes, there is, I'm currently using `ReactDOM.findDOMNode()` to get the underlying DOM element and just ask for it's bounds directly using plain DOM + JS. It means not using `>Measure>` anymore, I made my own `<DOMRef>` component that has a callback that gives me the DOM node. I know they advise against using `ReactDOM.findDOMNode()` but I don't see any other way in my case.

[2018-08-05 13:11] dlee opened #114 "innerRef does not work with new React ref API"
React's new `createRef` does not work with `innerRef`.

[2018-08-08 20:05] wessyy commented on #104
dcsdc

[2018-08-11 13:52] drcmda opened #115 "react-native support"
reference: https://twitter.com/souporserious/status/1026811462721794048

I had no prior experience with RN as well and people were asking, but turned out it wasn't so hard eventually. create-react-native-app has an emulator out of the box. For react-spring i distribute a web builds (which is the default) and RN under /dist/native https://github.com/drcmda/react-spring/blob/master/rollup.config.js

[2018-08-13 04:45] souporserious commented on #115
This should be easier to do in V3 and I think the API can be the same. I'll play around with it this week and report back.

[2018-08-30 19:16] felixlinker commented on #104
To enhance on what @willyb321 said: Only happens when the horizontal size of the windows changes in our scenario.

[2018-08-30 23:03] christiaanwesterbeek commented on #63
Indeed it is. I got this too after using the `withContentRect('bounds')` HOC on a stateful component that contains a div that has the ref. Works fine on Chrome, but not Safari where I got the exact error.

[2018-08-30 23:09] christiaanwesterbeek commented on #63
Btw, this is the only place on the entire internet (says Google) with this exact error and it's not even in your source code. That's pretty cool!

[2018-08-31 11:09] felixlinker commented on #104
To enhance on what @willyb321 said - I work on the same repository: I just updated the dependency to `^2.0.0`. The error only appears if `setState` is called in the `onResize` callback. It doesn't help if we check for values being changed, e.g. do something like @souporserious proposed in #56.

[2018-09-04 07:36] joaovieira commented on #104
Any updates on this? Could this help: https://github.com/hshoff/vx/pull/335?

[2018-09-10 04:39] #75 closed

[2018-09-10 11:12] taikn opened #116 "PropType error: children must be single ReactElement"
With the latest update (2.1.1) I get warnings like these:

[code]

Which are caused by this line here:

https://github.com/souporserious/react-measure/blob/d18b065a32eb9c63f47b225269992a4f16a6b39a/src/with-content-rect.js#L18

Maybe it can be altered to something more loose to accommodate both Functions and ReactElements?

[code]

[2018-09-10 13:47] #116 closed

[2018-10-17 12:31] cloudlena commented on #113
You can just wrap the custom element with a `div`. In most cases, the dimensions of the wrapper should be the same as the ones of the inner element:

[code]

[2018-11-14 17:15] yoadsn commented on #104
Followed the same path linked to by @joaovieira - tested locally - this seems to resolve the problem.
@souporserious would you consider merging this? (Basically, monkey copy-paste there)

setState anyway was called sync on the measure callback being not a react callback. When the measured element relies on the measured size to set its own size (well, sometimes you need to do that) this error occur

[2018-11-15 02:59] #61 closed

[2018-11-15 03:00] #104 closed

[2018-11-15 03:02] #87 closed

[2018-11-15 03:05] #108 closed

[2018-12-05 21:30] rpearce opened #120 "componentWillMount causes React.StrictMode to error"
As per https://reactjs.org/docs/strict-mode.html#identifying-unsafe-lifecycles, I believe the following code is causing React apps using `React.StrictMode` to error, saying that this should be converted to the safer `componentDidMount`:

https://github.com/souporserious/react-measure/blob/350c5ce653b0b30d800a854e6ae8433eb703ed93/src/with-content-rect.js#L31-L34

I'm not familiar with this library,

[2018-12-05 23:57] souporserious commented on #120
Yup! These should work fine in a constructor method. If you'd like to create a PR, I can review it and get it released. Thank you for filing an issue and being willing to make a PR! 🙏

[2018-12-05 23:58] souporserious commented on #120
Actually, you should be able to just add these as properties on the class, even easier ✨.

[2018-12-06 01:08] rpearce commented on #120
Rock on. I'll see if I can get something up tonight

[2018-12-06 03:31] rpearce commented on #120
@souporserious are you sure the README is up to date for getting set up? Couple of things:
* there seems to be a `yarn.lock` file but no `package-lock.json`, implying that I should use `yarn` and not `npm` to do dev
* running `yarn run dev` gives a webpack error saying:
[code]
  so then I add that but get another error saying:
[code]

Any help for getting set up would be appreciated!

[2018-12-06 03:32] rpearce commented on #120
You can probably reproduce this if you remove your `node_modules/` folder and install from scratch

[2018-12-06 05:41] #120 closed

[2018-12-09 23:02] rpearce commented on #120
@souporserious Do you yet know when your next release will be?

[2018-12-15 01:25] souporserious commented on #120
Apologies for the delay! I was on vacation and then needed to finish the PR that cleaned up the build system. It's published under `2.2.1` now. Thanks for the help! 🙏

[2018-12-16 20:32] rpearce commented on #120
Thank you! Hope your vacation was excellent

[2018-12-19 14:22] julioolvr opened #123 "@babel/runtime is not a dev dependency"
In a project with Babel 6 and Webpack 3, trying to use `react-measure` throws several errors like:

[code]

`dist/index.esm.js` does try to import stuff from `@babel/runtime` but that seems to be a transitive dev dependency of the project, so I'd expect it not to be referenced by build artifacts. That being said I could be wrong - I'm not sure what are common expectations, but it feels that if Bab

[2018-12-19 15:27] souporserious commented on #123
Oops! Sorry about that 😅. It should be fixed under `v2.2.2`. Please feel free to reopen if there are any further issues. Thanks for filing an issue! 🙏

[2019-01-21 18:51] piecyk opened #124 "ResizeObserver entries are undefined when measure method is called"
This was introduced with https://github.com/souporserious/react-measure/commit/446e3e8281b86a0e81438424ca39ca121ad7418f
as `measure` method is missing the entires from ResizeObserver callback

[code]

[2019-01-21 19:17] #114 closed

[2019-01-22 18:54] vineetkumar1511 commented on #124
We are also facing this issue. They have forgot to pass arguments here. Also this can we done in very clean way.

[2019-01-23 21:57] kmjennison opened #127 "Incorrect UMD documentation"
As of v2.2.2, the unpkg URL is https://unpkg.com/react-measure/dist/index.umd.js and the global is `ReactMeasure`, not `React`.

[2019-01-23 22:05] kmjennison opened #129 "Error when the measured child is in a CSSTransition"
As of v2.2.2, there's an error when the measured component is in a `react-transition-group` CSSAnimation component:
[code]

It occurs [here](https://github.com/souporserious/react-measure/blob/6a847bc0318c3e11508c5dfc8847032052814437/src/get-content-rect.js#L32). I'm guessing it's trying to measure a node after the transition removes it.

This did not throw an error in v2.1.3.

Error in v2.2.2 (no

[2019-01-25 07:35] ahmedsharif commented on #123
I am facing the same issue  that @julioolvr posted last time. I follow your solution and down-grade react-measure version to 2.2.1 but it still give me same error.
![babel_error](https://user-images.githubusercontent.com/17411512/51731648-7c5dff00-209d-11e9-9ab6-d9aef0509b09.PNG)

[2019-01-26 23:25] souporserious commented on #127
Oops! 🤦‍♂️ Thank you for filing an issue and PR 🙏 much appreciated.

[2019-01-26 23:29] souporserious commented on #129
Hmm this might have been fixed in https://github.com/souporserious/react-measure/pull/125. I’ll cut a new release tomorrow with that fix in it. Thanks for filing an issue! 🙏

[2019-01-28 05:34] souporserious commented on #123
Hmm weird 🤔 this should be fixed in the latest version. @ahmedsharif does this error occur with `v2.2.2` installed?

[2019-01-28 05:40] souporserious commented on #129
@kmjennison can you please check the latest version `v2.2.3` to see if this error is still occurring?

[2019-01-28 06:56] piecyk commented on #129
Had a very quick look, the error is there but it's not a bug...  As the `v2.x` don't work with observing multi elements, and we have this kind of scenario here. Didn't check way it was working with `v2.1.3` but there was the bug 😄

@kmjennison proper solution would be to warp every child with it's own measure
https://jsfiddle.net/uch4zk2e/1/

@souporserious What is the status with `v3` branch? May

[2019-01-28 07:44] ahmedsharif commented on #123
Yes. I tried these versions v2.2.2 v2.2.1 and v2.2.3. Can you kindly help me regarding this issue?

[2019-01-28 19:26] souporserious commented on #123
@ahmedsharif I just got back from vacation so I have some things to catch up on, but I will look into this as soon as I get a chance. Please feel free to submit a PR if you come across a solution. I might try updating `@babel/runtime` to see if that helps anything.

[2019-01-28 20:22] piecyk commented on #129
Regarding my last comment, observing multi elements... Using the ReactTransitionGroup like in the example will not provide any event's from `ResizeObserver` when the dimension changes... only for initial mount. As you can see in the logs below, ReactTransitionGroup will call ref with null for unmounted component after previous visible was removed, causing this to `unobserve` current visible ( but

[2019-01-29 19:30] kmjennison commented on #129
Thanks @piecyk, that makes sense.

Is there a way for react-measure to ensure that it's only measuring one element at a time? If so, it would be helpful to log a warning when the user tries to measure more than one.

[2019-01-30 00:33] souporserious commented on #129
@piecyk I've thought about hooks a lot with `react-measure`. Going to work on a new release now that there's an official date when they will launch. I'll most likely move to a v4 branch with a hooks first API in mind with a render function component as an alternative. Also, thank you for the explanation on measuring multiple elements 🙏.

@kmjennison the current API doesn't lend to measuring multip

[2019-02-01 15:08] piecyk commented on #129
@kmjennison we can tweak the `_handleRef` method to always unobserve prev node, before starting to observe next one. Something like this https://github.com/piecyk/react-measure/commit/8f542d3bf30a61d2ff85131fdf9b35eaedd9e148 ping @souporserious if i should submit PR.

@souporserious Great to hear that, ping me if help is needed 💪 Will also try investigate some API proposals.

[2019-02-01 17:17] souporserious commented on #129
@piecyk love that idea for `_handleRef`! Please feel free to submit a PR 🙏.

[2019-02-05 03:34] #54 closed

[2019-02-05 08:50] piecyk commented on #129
@kmjennison imho you can close the issue now as the PR was merged, thanks!

[2019-02-05 17:39] souporserious commented on #129
Thanks, @piecyk! @kmjennison please feel free to reopen if you experience any other issues.

[2019-02-05 17:39] #129 closed

[2019-02-17 18:53] Maaartinus commented on #68
I'm pretty new to this, but the fact that the position changes due to parent don't get tracked is a problem for me, too:

-  I need a fixed-position child in order not the influence the layout, so I pass it the bounds from measure.
- When I tried to use this in a material-ui dialog, it fails as the dialog starts off-screen and gets only moved.

I sort-of solved it using an `interval` (inspired by

[2019-02-21 14:08] tkryskiewicz opened #131 "created TypeScript typings"
Hi, while working on one of my projects I've added TypeScript typings for `react-measure`. Please check mostly if naming looks good.

From what I've tested, those work:
- `Measure` component,
- `withContentRect()` with class components (also with default props) and functional components.
- code from examples

What needs to be improved:
- typing for `measure()` in `InjectedMeasureProps`
- if possib

[2019-02-23 16:32] thomaskempel opened #132 "react-measure as hook"
Hi y'all,

have you already thought about offering react-measure as a hook? I played a little bit with this idea and created a working prove of concept (see here: https://github.com/thomaskempel/use-resize-observer)

I copied some stuff from this repo and tried to offer similar interfaces. How do you like the idea?

Cheers,
Thomas

[2019-02-24 14:13] tho-graf commented on #131
Hi,

we use the types from definitly typed. We didn't run in any trouble with them. [@types/react-measue](https://www.npmjs.com/package/@types/react-measure)

Have you seen these?
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-measure/index.d.ts

Cheers,
Thomas

[2019-02-24 15:31] tkryskiewicz commented on #131
Hi @thomaskempel!

TBH I've assumed that a project of such size would have them included without really checking 🤦‍♂️

@types/react-measure probably won't work for components with default props (which I use a lot, but that's quite easily fixable). Will check if I can remove mine and patch those. Thanks!

Any plans on including TypeScript typings with react-measure?

[2019-03-04 16:57] souporserious commented on #131
@tkryskiewicz thanks for filing an issue! Apologies for taking a little bit to get back to you. I'm not too familiar with TypeScript yet, would this just be an additional file to include in the build? Or is DefinitelyTyped more of the way to go?

[2019-03-04 17:11] souporserious commented on #132
Thank you for the proposal @thomaskempel! I recently did some [explorations](https://twitter.com/souporserious/status/1101504426567557120) that are more of what I was trying to do in #97. It essentially splits out responsibilities for each phase of collecting measurements for flexibility. As of right now, I'm thinking of shipping a couple of different hook implementations that can be composed toge

[2019-03-05 12:32] tkryskiewicz commented on #131
@souporserious
Hey! No problem.

It's an `index.d.ts` file with declarations, a small modification to `package.json` to include them when publishing and something to test the syntax (there are a few ways to do it, but boils down to something like https://github.com/ctimmerm/axios-mock-adapter/commit/6523305feed29d0668c598408c979fbd13e8809e + https://github.com/ctimmerm/axios-mock-adapter/commit/29

[2019-03-11 22:49] ksjogo commented on #90
I did run into the same problem. Did someone find a solution/is this PR somewhere?

[2019-04-03 11:19] markoristic3ap commented on #90
Same here, with current version 2.2.5 problem is not solved. What would be solution?

[2019-04-03 22:19] souporserious commented on #90
It's not the most elegant, but for now, you can do what was suggested above and check to make sure it's only called once:

[code]

I'm hoping to hop back on this project soon and get a new release out with a hooks version, and issues like this solved better  😇. If you happen to come across a solution that mitigates this, please feel free to add a PR. Although, I think with the way refs attach and

[2019-04-07 23:36] Lekha30 opened #134 "how to use the library as a HoC"
Is there any better example on how to use the library as a HoC as I don't quite understand the one cited in the readme file of the library.

Thanks

[2019-04-16 22:57] sherwinski opened #137 "Issue with contentRect.bounds"
Hi, we're using react-measure to determine the size of an image we want to render. It seems that after updating to the latest release (v2.2.6), `contentRect.bounds.width` and `contentRect.bounds.height` are consistently returning 0, which prevents our component from loading.

Here is a comparison showing the component using [v2.2.6](https://codesandbox.io/s/3vv22zopj6) versus [v2.2.5](https://code

[2019-04-16 23:31] souporserious commented on #137
Ah, sorry about that! It looks like a regression from [here](https://github.com/souporserious/react-measure/commit/dea8f0ce43ff9c7ae5f201a6cf43b52d816df74d) 😞. I'll work on getting a fix together. Just want to make sure you aren't relying on `onResize` and only what comes back in the child function?

[2019-04-16 23:54] sherwinski commented on #137
Thanks for quick response! And yes I believe that is correct.

[2019-04-17 08:03] michal-murawski commented on #137
I was about to post the same issue. No reaction on initial render, but the data is passed properly to `bounds` when the windows size changes. After downgrade to 2.2.4 works.

We do not use `onResize` and simply just render `<Measure>` and use `ref={measureRef}` with `contentReact` for different components

[2019-04-18 21:01] souporserious commented on #137
Should be fixed under `2.3.0` 🤞. Thanks for letting me know about the issue and please feel free to reopen if you see any similar problems.

[2019-04-18 21:01] #137 closed

[2019-05-08 17:45] greg-humiston commented on #115
Hey @souporserious, by any chance has there been any progress made on this? I'm currently using react-measure in a module that is used by both a web and native environment and am finding myself having to polyfill on native due to a type error ("node.getBoundingClientRect is not a function" via getContentRect) being thrown since 2.2.6. I'm using react-native v0.58.5.

[2019-05-08 20:10] souporserious commented on #115
I haven't had a chance to look at this, but if you have any ideas here I would gladly accept a PR! I'm hoping we could have a similar API to either the current version or the V3 branch that points to a react-native specific export.

[2019-05-09 11:24] vineetit1991 opened #138 "onResize fires with empty object"
Error:- Uncaught TypeError: Cannot read property 'width' of undefined
[code]

[2019-05-10 02:37] souporserious commented on #138
Ah, sorry I should have made this more clear in the `2.3.0` release that this could be a breaking change. It would probably be best to just bail out of `onResize` if no measurements were found on mount.

[2019-05-10 05:03] souporserious commented on #138
This should fix the issue for now:
[code]

I'll think about a better solution here. Do you think the existence of `entry` is enough? The unfortunate part is it needs to fire `onResize` both in `componentDidMount` and the resize observer, that's why there are two calls to `onResize` on initial render 😞.

[2019-05-22 14:46] preciselywilliam opened #139 "withContentRect in combination with window.resize?"
I have a hoc that wraps react-measure and sends position info to the component that our hoc wraps.

Before I've used `<Measure />`, but I need to extend the component to re-measure on window.resize.

Below you can find my attempt at implementing this.

[code]

As soon as I resize the window, the following errors get thrown:
![image](https://user-images.githubusercontent.com/33222967/58183802-3b26d

[2019-05-22 16:52] souporserious commented on #139
Ah, I'm guessing you want the updated `boundingClientRect` when the window resizes? I haven't used react-measure in this way, but it _seems_ like it should work fine with the `measure` prop. I'm wondering if it might be a `this` issue.

You might have some luck trying this in your constructor:
`this.measureThrottled = throttle(() => props.measure(), throttleLimit)`

[2019-05-23 07:33] preciselywilliam commented on #139
Problem was that measure was called before the ref element was set. Updated code if anyone needs:
[code]

[2019-05-23 07:33] #139 closed

[2019-05-23 20:41] souporserious commented on #139
@preciselywilliam do you think a warning might help here? 🤔It might be nice to warn that a ref hasn't been set. I didn't do this originally though since it's valid to set the ref after the initial mount.

[2019-05-24 11:28] preciselywilliam commented on #139
@souporserious sure, a warning (or other appropriate handling) for when measure is called on a null ref makes sense.

[2019-08-15 21:24] chloesun commented on #76
@mlmassey  I ran into the same situation. Can you provide an example of how to use `innerRef` for styled-components? Thanks!

[2019-11-25 12:18] eseQ commented on #66
Hello @souporserious. So I have a question: how I can use debounce now?
Like @designbyadrian says:

[2019-11-27 06:37] eseQ opened #141 "How detect offset?"
Hello.
I use `react-measure` to detect dimensions and offset changes in my case.
Main idea: Have a visible list and list of hidden items;
But I have no way to track offset changes.
I created some demo: https://codesandbox.io/s/modest-list-omkl0
I have a list like this:  ![before](https://i.imgur.com/S11BUOw.png?1)
And if add some element:  ![after](https://i.imgur.com/gNLfsfz.png)
Any ideas?

[2019-11-27 19:21] souporserious commented on #141
Weird! I'm not sure why it's not calling `onResize` properly 🤔 Everything looks fine in your code. I noticed you are using hooks. You might have better luck with something like [`use-measure`](https://www.npmjs.com/package/use-measure) library. I'm hoping to release a hooks version soon that might help here. I'll dig deeper when I get some time. Thanks for filing an issue and putting together a co

[2019-11-28 06:29] eseQ commented on #141
@souporserious thanks for the answer. Use measure-hook it\`s a clever idea. Let\`s test it!
https://codesandbox.io/s/modest-list-56t7e
Good news - now we know about the change position.
But we have strange behavior - equivalents `x` values for all items. And the `right` value obviously.

![demo](https://i.imgur.com/TP0Wr3x.png)

[2019-11-28 06:34] eseQ commented on #141
@cvpcasada can you help me? Maybe I use `use-measure` wrong?

[2019-12-19 16:34] merraysy commented on #72
How did you fix this?

[2020-01-03 08:55] lzl124631x opened #142 "can't get UMD version working in CodePen"
[Demo here](https://codepen.io/lzl124631x/pen/NWPwjeN?editors=1010)

The `ReactMeasure` is just `{}`. How to get the `<Measure />` component?

[2020-05-11 10:22] rohittagadiya commented on #104
You can refer this:
https://stackoverflow.com/questions/49384120/resizeobserver-loop-limit-exceeded

[2020-06-23 15:39] KishokanthJeganathan commented on #76
@mlmassey Could you show us the fix pls? I have the same issue :/

[2020-07-15 22:46] mlmassey commented on #76
@KishokanthJeganathan I hate to sound snarky, but just as I mentioned.  Give it a try.
`
      <Measure>
        {({ measureRef }) => (
          <StyledComponent innerRef={measureRef} />
        )}
      </Measure>
`
Note that innerRef was deprecated in styled-components though, so not sure why you would be asking this anymore.  You now to handle refs using Reacts forwardRef API.  https://styled-

[2020-07-16 09:57] KishokanthJeganathan commented on #76
@mlmassey thanks bud! Worked!

[2020-07-23 15:01] jnhooper opened #145 "README update"
Small thing i noticed on the readme for inner ref it says it only accepts a function but in looking at the code i see the prop type is expecting a function _or_ an object.
https://github.com/souporserious/react-measure/blob/master/src/with-content-rect.js#L17
and when we actually use it it's checking it's type again
https://github.com/souporserious/react-measure/blob/master/src/with-content-rect.j

[2020-08-07 00:15] lyleunderwood commented on #39
I just fell prey to this :sob:

I feel like it's almost more confusing to provide offset when changes to it are not detected. It sets up the expectation that the user does not have to worry about detecting changes anymore.

[2021-08-16 08:11] zaprvalcer commented on #132
It would be great to have this feature, is it still relevant?..

[2021-08-29 09:14] emonno13 opened #149 "React Measure is only called for first time"
I have an issue with the height of the scroll change.

**Step 01: I load the page.**
- Topbar is shown
- Height: 426
- Show scroll
![image](https://user-images.githubusercontent.com/53046415/131244882-5ca96f92-5c59-4284-bf38-366f1f1857d9.png)

**Step 02: Click a button to hide the top bar.**
- React Measure work
- Height: 491
- Show scroll
![image](https://user-images.githubusercontent.com/5304641

[2021-08-30 22:35] souporserious commented on #149
Hm I'm not sure why the `ResizeObserver` wouldn't be picking this up 🤨 maybe due to children being virtualized. I'm pretty busy right now so I won't be able to look into the library itself for a bit, but I think you should be able to grab a ref to the `Measure` component and call the internal `measure` method yourself to update the dimensions:

[code]

[2021-09-15 07:20] 14glwu opened #150 "Measure is not suit for the scene when container is `flex-grow`"
when the container is `flex-grow: 1`, then
container height change => measure element height change  => container height change => measure element height change => ....

[2022-07-29 04:57] Jamie5 opened #151 "Possible to ship without resize-observer-polyfill?"
Five years ago, #38 was very reasonably not done. Now in 2022 though, every modern browser seems to have support for ResizeObserver. So perhaps this can be revisited.